<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MediConnect</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/mediConnect.css">
</head>
<body style="background-color: rgb(215, 214, 214);">
<th:block th:insert="~{common/nav}"></th:block>
<th:block th:insert="~{common/header}"></th:block>

<section class="notice">
    <div id="board-search">
        <div class="container">

            <div class="search-window">
                <form action="/searchByTitle">
                    <div class="search-wrap d-flex">
                        <input id="search" type="search" name="titleSearch" placeholder="검색어를 입력해주세요." value="">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                    <div class="form-container" sec:authorize="hasAnyAuthority('d')">
                        <button type="button" class="btn btn-light">작성하기</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div id="board-list">
        <div class="container">
            <div class="boxxx">
                <form style="width: 100%" action="/deleteBtn" method="post">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="checkbox-btn"></th>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-name">작성자</th>
                        <th scope="col" class="th-date">등록일</th>
                    </tr>
                    </thead>
                    <th:block th:if="${boards.size == 0}">
                        <tr>
                            <td colspan="5" class="no-results">검색 결과가 없습니다.</td>
                        </tr>
                    </th:block>
                    <tbody>
                    <tr th:each="board : ${boards}">
                        <td><input type="checkbox" name="postCheckbox" onchange="toggleDeleteButton()" th:value="${board.mediNo}"></td>
                        <td th:text="${board.mediNo}">3</td>
                        <td><a th:href="@{/medi/mediConnectDetail/{projectNo}/{mediNo}(projectNo=${board.projectNo}, mediNo=${board.mediNo})}" th:text="${board.mediTitle}"></a></td>
                        <td th:text="${board.employeeDTO.name}"></td>
                        <td class="mediBoardDate" th:text="${board.mediBoardDate}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="delete-btn" id="delete-btn">
                    <button type="submit" id="deleteButton" class="btn btn-dark" style="display: none;" sec:authorize="hasAnyAuthority('d')">Delete</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>MEDICONNECT</h2>
        <form action="/registNewMedi" method="post">
            <div>
                <input type="text" id="title" name="mediTitle" placeholder="제목을 입력하세요.">
            </div>
            <div>
                <textarea id="content" name="mediContent" rows="20" placeholder="내용을 입력하세요."></textarea>
            </div>
            <br>
            <div>
                <button type="submit" id="registNewMediBoard" class="btn btn-primary">작성하기</button>
            </div>
        </form>
    </div>
</div>
<script src="/assets/js/mediConnect.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>