<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/header.css">
    <title>header</title>
</head>
<script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
<body>
<div class="mainPage">
    <div class="main-title">
        <div class="contents">
            <img src="/common/img/nobackLogo.png" alt="PSMC Logo" class="logo">
            &nbsp&nbsp
            <span class="psmc">Pro Sports Medical Center</span>
            <a class="docIcon" href="#" ><i class="fa-solid fa-user-doctor" style="color:rgb(3, 61, 94)"></i></a>
        </div>
        <div class="line"></div>
    </div>
</div>
</body>
</html>