<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/nav.css">
    <title>Title</title>
</head>
<script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
<body>
<div id="mainbar">
    <br>
    <div class="logoimgg">
        <img src="/common/img/backLogo.png" alt="PSMC Logo" class="logo22">
    </div>

    <div id="mainNav">
        <div class="pack" data-page="mainpage"><a href="/auth/login" style="font-size: 7px;"><i class="fa-solid fa-house-user fa-3x">&nbsp;&nbsp;</i>
            <span>MAINPAGE</span></a></div>

        <div class="pack" data-page="schedule"><a href="/schedule" style="font-size: 7px;"><i class="fa-regular fa-calendar-days fa-3x">&nbsp;&nbsp;</i>
            <span>SCHEDULER</span></a></div>

        <div class="pack" data-page="mediconnect"><a href="/MediConnect" style="font-size: 7px;"><i class="fa-solid fa-notes-medical fa-3x">&nbsp;&nbsp;</i>
            <span>MEDICONNECT</span></a></div>

        <div class="pack" data-page="theralink"><a href="/theraLink" style="font-size: 7px;"><i class="fa-solid fa-hospital-user fa-3x">&nbsp;&nbsp;</i>
            <span>THERALINK</span></a></div>

        <div class="pack" data-page="staff"><a href="#" style="font-size: 7px;"><i class="fa-solid fa-user-group fa-3x">&nbsp;&nbsp;</i>
            <span>STAFF</span></a></div>
        <br><hr id="navline">

        <div id="subNav">
            <div class="pack" data-page="logout"><a href="/auth/logout" style="font-size: 7px;"><i class="fa-solid fa-right-from-bracket fa-3x">&nbsp;&nbsp;</i>
                <span>LOG OUT</span></a></div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
<script src="/assets/js/nav.js"></script>

</body>
</html>
