<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/nav.css">
    <title>Title</title>
</head>
<script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
<body>
<div id="mainbar">
<!--     메인 바 내용 -->
    <br><br>
            <div class="logoimgg">
                <img src="/common/img/backLogo.png" alt="PSMC Logo" class="logo22">
            </div>

    <div id="mainNav">
        <br>
        <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-house-user fa-3x" >&nbsp;&nbsp;<a href="#" class="title hidden">Mainpage</a></i></div> -->
        <div class="pack"><a href="/auth/login" style="font-size: 7px;"><i class="fa-solid fa-house-user fa-3x">&nbsp;&nbsp;</i>
            <span>MAINPAGE</span></a></div>

        <!-- <div id="pack" style="font-size: 10px;"><i class="fa-regular fa-calendar-days fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">  Schedule</a></i></div> -->
        <div class="pack"><a href="/schedule" style="font-size: 7px;"><i class="fa-regular fa-calendar-days fa-3x" >&nbsp;&nbsp;</i>
            <span>SCHEDULER</span></a></div>

        <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-notes-medical fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">MediConnect</a></i></div> -->

        <div class="pack"><a href="/MediConnect" style="font-size: 7px;"><i class="fa-solid fa-notes-medical fa-3x" >&nbsp;&nbsp;</i>
            <span>MEDICONNECT</span></a></div>


        <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-hospital-user fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">TheraLink</a></i></div> -->
        <div class="pack"><a href="/theraLink" style="font-size: 7px;"><i class="fa-solid fa-hospital-user fa-3x" >&nbsp;&nbsp;</i>
            <span>THERALINK</span></a></div>

        <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-hand-holding-medical fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">Therapy Log</a></i></div> -->
        <!-- <div id="pack"><a href="#" style="font-size: 10px;"><i class="fa-solid fa-hand-holding-medical fa-3x" >&nbsp;&nbsp;<p class="title hidden">Therapy Log</p></i></a></div> -->
        <div class="pack"><a href="#" style="font-size: 7px;"><i class="fa-solid fa-user-group fa-3x" >&nbsp;&nbsp;</i>
            <span>STAFF</span></a></div>
        <br><hr>


        <div id="subNav" >
            <!-- <div style="font-size: 10px;"><i class="fa-solid fa-right-from-bracket fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">Log Out</a></i></div> -->

            <div class="pack"><a href="#" style="font-size: 7px;"><i class="fa-solid fa-right-from-bracket fa-3x" >&nbsp;&nbsp;</i>
                <span>LOG OUT</span></a>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>


</body>
</html>