#mainbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; /* 너비 조정 */
    height: 100%; /* 화면 전체 높이까지 확장 */
    background-color: rgb(3, 61, 94); /* 배경색 지정 */
    transition: width 0.5s ease; /* 너비 변화에 대한 애니메이션 효과 적용 */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* #mainbar:hover {
    width: 14%;} /* 마우스를 가져다대면 너비가 늘어나도록 설정 */

/* #mainbar:hover>#mainNav,#subNav{
    align-items: flex-start;
}  */
/* #mainbar:hover>#subNav{
    align-items: flex-start;
} */



#mainNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    
}

#mainNav>div{
    margin-top: 40px;
}

#subNav {
    display: flex;
    position: absolute;
    bottom: 10%;
    align-items: center;
    justify-content: flex-start;
}



#mainbar a {
    color: white; /* 링크 색상 지정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 15px ;
}


/* #mainbar a:hover>i{
    color: rgb(192, 242, 255);
} */


i{
    color: white;
}

/* .hidden{
    display: none;
} */

.title{
    
    font-size: 15px;
}
.pack{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pack p {
    margin-left: 5px; /* 아이콘과 텍스트 사이의 간격을 조정하세요 */
}

#mainNav p {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif;
    color:white;
}

#subNav p {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif;
    color:white; 
    
}


