<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/mainpage.css">
</head>
<body>
<th:block th:insert="~{common/nav}"></th:block>

<div class="mainPage">
    <script>
        const message = `[[${reservationMessage}]]`;
        if(message){
            alert(message);
        }

        const messages = `[[${reservationMessages}]]`;
        if(messages.length>0){
            const m = messages.split(",");
            alert(m.join("\n"));

        }
    </script>



    <th:block th:insert="~{common/header}"></th:block>
    <div class="containerouter">
        <div class="box1">
            <div class="profile">
                <th:block th:if="${profile.getEmployeePhotoDTO().getEmployeeSavedName()!=null}">
                    <img th:src="${profile.employeePhotoDTO.employeeFilepath}" alt="/common/img/profile.png" class="circle-image">
                </th:block>
                <th:block th:if="${profile.employeePhotoDTO.employeeSavedName==null}">
                    <img src="/common/img/profile.png">
                </th:block>
            </div>
            <div class="profile-details">
                <h2 id="profileName" th:text="${profile.name}"></h2>
                <p id="profileNumber">([[${profile.pmCode}]])</p>
                <p id="profilePosition" th:text="${profile.getPositionDTO().getPositionName()}"></p>
                <p id="profileSpecialty" th:text="${profile.getMedicalFieldDTO().getFieldName()}"></p>
                <p id="profilePhoneNumber" th:text="${profile.getOfficeNum()}"></p>
                <p id="profileEmail" th:text="${profile.getEmail()}"></p>

            </div>
        </div>

        <div class="box2">
            <form action="/reservation" method="post" id="formmer">
                <fieldset class="patientinfo p-2" >
                    <legend class="float-none w-auto p-2">Patient Info</legend>
                        <table>
                            <tr>
                                <th>환자 이름 : </th>
                                <td>
                                    <select style="border: none" id="patientSelect" name="projectNo" class="form-select form-select-sm" aria-label="smaill select example">
                                        <option selected disabled>환자를 선택하세요</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>환자 번호 : </th>
                                <td style="text-align: center;" id="patientNo"></td>
                            </tr>
                            <tr>
                                <th>휴대폰 번호 : </th>
                                <td style="text-align: center;" id="patientPhone"></td>
                            </tr>
                        </table>
                    </fieldset>
                <script th:inline="javascript">
                    const patients = JSON.parse([[${patient}]]);

                    const patientSelect =document.getElementById('patientSelect');
                    const patientNo = document.getElementById('patientNo');
                    const patientPhone =document.getElementById('patientPhone');
                    patients.forEach(p=>{
                        const $option = document.createElement('option');
                        $option.value=p.projectNo;
                        $option.textContent=p.patientName;
                        patientSelect.appendChild($option);
                    })

                    patientSelect.addEventListener('change',e=>{

                        const val = patientSelect.value;
                        patients.forEach(p=>{
                            if(p.projectNo == val){
                                patientNo.textContent=p.patientNo;
                                patientPhone.textContent=p.phone;
                            }
                        })

                    })
                </script>

                <div>
                    <br>
                    <br>
                    <fieldset class="timeslot p-2" >
                        <legend class="float-none w-auto p-2">TimeSlot</legend>
                        <label sec:authorize="hasAnyAuthority('d')" for="date">날짜 및 시간 :</label>
                        <label for="date" sec:authorize="hasAnyAuthority('t')">날짜 : </label>
                        <input type="date" name="date" id="date">
                        <th:block sec:authorize="hasAnyAuthority('d')">
                            <select name="timeCode" id="time">
                                <option selected disabled value="none">시간을 선택하세요</option>
                                <option value="1">09:00~09:30</option>
                                <option value="2">09:30~10:00</option>
                                <option value="3">10:00~10:30</option>
                                <option value="4">10:30~11:00</option>
                                <option value="5">11:00~11:30</option>
                                <option value="6">11:30~12:00</option>
                                <option value="7">13:00~13:30</option>
                                <option value="8">13:30~14:00</option>
                                <option value="9">14:00~14:30</option>
                                <option value="10">14:30~15:00</option>
                                <option value="11">15:00~15:30</option>
                                <option value="12">15:30~16:00</option>
                                <option value="13">16:00~16:30</option>
                                <option value="14">16:30~17:00</option>
                                <option value="15">17:00~17:30</option>
                                <option value="16">17:30~18:00</option>
                            </select>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('t')">
                            <br>
                            <label for="start">시간 : </label>
                            <input type="time" id="start" name="start" step="60" min="06:00" max="22:00"> ~ <input type="time" id="end" name="end" step="60" min="06:00" max="22:00">
                        </th:block>
                        <br>
                        <script>
                            const $inputDate = document.getElementById('date');
                            const role = `[[${role}]]`;
                            if(role=='d') {
                                resetSelect();

                                patientSelect.addEventListener('change',e=>{
                                    resetSelect();
                                    if($inputDate.value!==""){
                                        checkByPRNo();
                                        checkAllMedi();
                                    }
                                })
                            }
                            $inputDate.addEventListener('change',e=>{

                                if(role == 'd'){
                                    resetSelect();
                                    checkAllMedi();
                                }
                            })

                            function checkByPRNo(){
                                const dateValue = $inputDate.value;
                                if(dateValue!=null) {
                                    fetch("/sendThera", {
                                        method: "POST",
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            projectNo : patientSelect.value,
                                            date : dateValue
                                        })

                                    })
                                        .then(res=>res.json())
                                        .then(data=>{
                                            if(data!=null){
                                                data.forEach(thera=>{
                                                    if(thera.code!=null){
                                                        thera.code.forEach(c=>{
                                                          const $timeTable = document.getElementById('time');
                                                          $timeTable.querySelector(`option[value="${c}"]`).disabled=true;
                                                        })
                                                    }
                                                })
                                            }

                                        })
                                }
                            }

                            function resetSelect(){
                                const $timeTable = document.getElementById('time');
                                const $option = $timeTable.querySelectorAll('option');
                                $option.forEach(option => {
                                    option.disabled = false;
                                })
                                $option[0].disabled = true;
                            }

                            function checkAllMedi(){
                                const $timeTable = document.getElementById('time');
                                const dateValue = $inputDate.value;
                                fetch("/sendAllMedi",{
                                    method: "POST",
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        selectDate: dateValue
                                    })
                                }).then(res=>res.json())
                                    .then(data=>{
                                        if(data!=null){
                                            data.forEach(m=>{
                                                const timeCode = m.timeCode;
                                                $timeTable.querySelector(`option[value="${timeCode}"]`).disabled=true;
                                            })
                                        }
                                    })
                                const projectNo = patientSelect.value;
                                if(projectNo!==""){
                                    checkByPRNo();
                                }

                            }
                        </script>
                        <label for="position">증상 및 진단 정보: </label>
                        <textarea name="contents" cols="30" row="60" id="position"></textarea>
                    </fieldset>
                </div>
                <br>
                <span id="inputter">
                        <input type="submit" value="예약">
                        <input type="reset" value="취소" id="cancel">
                        <button id="newProject" data-bs-toggle="modal" data-bs-target="#exampleModal" sec:authorize="hasAnyAuthority('d')" type="button" class="btn">New Project</button>
                </span>


            </form>

            <script>
                const $cancel = document.getElementById('cancel');
                $cancel.addEventListener('click',e=>{
                    patientNo.textContent="";
                    patientPhone.textContent="";
                    if(role=='d'){
                        const $timeTable = document.getElementById('time');
                        const $option = $timeTable.querySelectorAll('option');
                        $option.forEach(option => {
                            option.disabled = false;
                        })
                        $option[0].disabled = true;
                    }
                })
            </script>

        </div>
        <div class="box3">
            <fieldset class="timeslot p-2" id="timeslot">
                <legend class="float-none w-auto p-2">Scheduler</legend>
                <!-- <h2>Scheduler</h2> -->
                <div class="schedule-item">
<!--                    <p>24.01.30 (목)</p>-->
                    <p id="today"></p>
                </div>
                <th:block th:if="${projects!=null}">
                    <th:block th:each="project : ${projects}">
                        <div class="schedule-item">
                            <th:block th:if="${role=='d'}">
                                <p th:text="|${project.time[0]} - ${project.time[1]}|"></p>
                                <p th:text="|${project.patientName}(${project.projectNo})|"></p>
                                <p th:text="|부상부위 : ${project.injuryName}|"></p>
                            </th:block>
                            <th:block th:if="${role == 't'}">
                                <p th:text="|${project.start} - ${project.end}|"></p>
                                <p th:text="|${project.patientName}(${project.projectNo})|"></p>
                                <p th:text="|부상부위 : ${project.injuryName}|"></p>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
                <th:block th:if="${#lists.isEmpty(projects)}">
                    <div class="schedule-item">
                        <p>오늘 일정이 없습니다</p>
                    </div>
                </th:block>
                <script>
                    const $today = document.getElementById('today');
                    const $day = parseInt(`[[${day}]]`.trim());
                    const $date = `[[${ModiToday}]]`;
                    switch($day){
                        case 1:
                            $today.textContent=`${$date} (Sun)`
                            break;
                        case 2:
                            $today.textContent=`${$date} (Mon)`
                            break;
                        case 3:
                            $today.textContent=`${$date} (Tue)`
                            break;
                        case 4:
                            $today.textContent=`${$date} (Wed)`
                            break;
                        case 5:
                            $today.textContent=`${$date} (Thu)`
                            break;
                        case 6:
                            $today.textContent=`${$date} (Fri)`
                            break;
                        case 7:
                            $today.textContent=`${$date} (Sat)`
                            break;
                    }

                </script>

<!--                <div class="schedule-item">-->
<!--                    <p>11:00 - 12:00</p>-->
<!--                    <p>이영희(34725)</p>-->
<!--                    <p>의료 이력: 골절 수술 이력 있음</p>-->
<!--                </div>-->
<!--                <div class="schedule-item">-->
<!--                    <p>13:00 - 14:00</p>-->
<!--                    <p>김진호(35225)</p>-->
<!--                    <p>의료 이력: 특이 사항 없음</p>-->
<!--                </div>-->
                <!-- 기타 스케줄 항목들을 추가할 수 있습니다 -->
            </fieldset>
        </div>


        <div class="box4">
            <div class="title2">Today Menu</div>
            <br>
            <span id="todayCalendar"></span>
            <div id="menuouter" style="width: 100%">
                <button id="leftButton"><i class="fa-solid fa-caret-left" style="color: black"></i></button>
                <div id="todayMenu">
                </div>
                <button id="rightButton"><i class="fa-solid fa-caret-right" style="color: black"></i></button>

            </div>
        </div>

        <script>
            const left = document.getElementById('leftButton');
            const right = document.getElementById('rightButton');
            const todayCalendar = document.getElementById('todayCalendar');
            fetch("/todayMenu")
                .then(res=>res.json())
                .then(data=>{
                    todayCalendar.textContent=data.date
                    makeMenu(data.menuDTO.menuName);
                })

            left.addEventListener('click',e=>{
                fetch("/minusday")
                    .then(res=>res.json())
                    .then(data=>{
                        todayCalendar.textContent=data.date
                        const menuName = data.menuDTO.menuName;
                        makeMenu(menuName);
                    })

            })
            right.addEventListener('click',e=>{
                fetch("/plusday")
                    .then(res=>res.json())
                    .then(data=>{
                        todayCalendar.textContent=data.date;
                        const menuName = data.menuDTO.menuName;
                        makeMenu(menuName);
                    })
            })

            function makeMenu(menuNames){
                const todayMenu = document.getElementById('todayMenu');
                todayMenu.textContent="";
                const menu = menuNames.split(",");
                menu.forEach(m=>{
                    const $p = document.createElement('p');
                    $p.textContent = m;
                    todayMenu.appendChild($p);
                })
            }

        </script>
        <div class="box5">
            <div class="mediconnect">
                <div class="title2">mediconnect</div>
                <div class="button-bar" th:each="medi : ${miniMedi}">
                    <button class="button-6">
                        <a class="mediBoardDate" th:text="|내역 ${medi.mediConnectDTO.mediNo}. ${medi.patientDTO.patientName} ${medi.contents} ${medi.mediChatBoardDate}|"
                                                th:href="@{|/medi/mediConnectDetail/${medi.mediConnectDTO.projectNo}/${medi.mediConnectDTO.mediNo}|}"
                                                style="text-decoration: none; color: black"></a></button><br>
<!--                    <button class="button-6">내역 2.조땡땡 왼쪽 발목 골절</button><br>-->
<!--                    <button class="button-6">내역 3.박땡땡  ~~~~</button><br>-->
<!--                    <button class="button-6">내역 4.이떙떙 ~~~~~</button>-->
                </div>
            </div>
        </div>
        <div class="box6">
            <div class="mediconnect">
                <div class="title2">TheraLink</div>
                <div class="button-bar" th:each="t : ${miniThera}">
                    <th:block th:if="t.chatNo!=0">
                        <button class="button-6"><a th:href="@{|/theraLink/open/${t.projectNo}/1|}" th:text="|내역 ${t.projectNo}. ${t.patientName} ${t.theraChatContent} ${t.transDate}|" style="text-decoration: none; color: black"></a></button><br>
                    </th:block>
                    <th:block th:if="t.chatNo==0">새로운 채팅이 없습니다</th:block>
                </div>
            </div>
        </div>
    </div>
</div>

<!--patient modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 40vw;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(3, 61, 94)" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white">New Patient Registration</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <form method="post" id="makeProject">
                    <div class="mb-4">
                        <div class="form-floating" style="overflow: hidden;">
                            <input type="text" class="form-control" id="patientName" placeholder="name" autocomplete="off" name="patientName">
                            <label for="patientName">Name</label>
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <div class="col-lg-2 ms-auto">
                            <div class="input-group">
                                <div class="form-floating" style="overflow: hidden;">
                                    <input type="number" class="form-control" id="age" placeholder="age" min="0" name="age">
                                    <label for="height">Age</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto">
                            <div class="input-group">
                                <div class="form-floating" style="overflow: hidden;">
                                    <input type="number" class="form-control" id="height" placeholder="height" min="0" name="height" step="any">
                                    <label for="height">height</label>
                                </div>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto">
                            <div class="input-group">
                                <div class="form-floating" style="overflow: hidden;">
                                    <input type="number" class="form-control" id="weight" placeholder="weight" min="0" name="weight" step="any">
                                    <label for="weight">weight</label>
                                </div>
                                <span class="input-group-text">kg</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="group radio">
                            <div class="radiogroup col-12">
                                <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check question" name="gender" id="Male" autocomplete="off" value="M" required>
                                    <label class="btn btn-outline-primary" for="Male">Male</label>
                                    <input type="radio" class="btn-check question" name="gender" id="Female" autocomplete="off" value="F" required>
                                    <label class="btn btn-outline-primary" for="Female">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <div class="col-lg-5 ms-auto">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-phone" style="color:  rgb(3, 61, 94)"></i></span>
                                <div class="form-floating" style="overflow: hidden;">
                                    <input type="text" class="form-control" id="phone" placeholder="phone" autocomplete="off" name="phone" maxlength="11">
                                    <label for="phone" >Phone</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 ms-auto">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-envelope" style="color:  rgb(3, 61, 94)"></i></span>
                                <div class="form-floating" style="overflow: hidden;">
                                    <input type="text" class="form-control" id="email" placeholder="email" autocomplete="off" name="email">
                                    <label for="email">E-mail</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="form-floating">
                            <select class="form-select" id="injury" aria-label="Floating label select example" name="injuryCode" >
                                <option selected disabled>Open this select menu</option>
                                <th:block th:each="injury : ${injuryMap}">
                                    <option th:value="${injury.injuryCode}" th:text="${injury.injuryName}" style="font-weight: bold"></option>
                                </th:block>
                            </select>
                            <label for="injury">injury</label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="form-floating" style="overflow: hidden;">
                            <textarea class="form-control" placeholder="Leave a comment here" id="details" style="height: 100px" name="comments"></textarea>
                            <label for="details">Comments</label>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-floating" style="overflow: hidden;">
                            <select class="form-select" id="therapy" aria-label="Floating label select example" name="theraPmCode">
                                <option selected disabled>Open this select menu</option>
                            </select>
                            <label for="therapy">Therapy</label>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="regist">Registration</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const dateElements = document.querySelectorAll('.mediBoardDate');
        dateElements.forEach(el => {
            let dateStr = el.textContent;
            if (dateStr.includes('T')) {
                el.textContent = dateStr.replace('T', ' ');
            }
        });
    });

    const $regist = document.getElementById('regist');
    const $makeProject = document.getElementById('makeProject');
    const $therapy = document.getElementById('therapy');

    $regist.addEventListener('click',e=>{
        $makeProject.action='/makeProject';
        $makeProject.submit();
    })

    const $injury = document.getElementById('injury');
    $injury.addEventListener('change',e=>{

        const injuryCode = $injury.value;
        $therapy.textContent="";
        $therapy.innerHTML = '<option selected disabled>Open this select menu</option>';
        fetch("/findTherapyByInjuryCode",{
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                injuryCode : injuryCode
            })
        }).then(res=>res.json())
            .then(data=>{

                data.forEach(e=>{
                    const $option = document.createElement('option');
                    $option.value = e.pmCode;
                    $option.textContent=e.name;
                    $therapy.appendChild($option)
                })

                const $option = document.createElement('option');
                $option.value = 'none';
                $option.textContent='재활 치료 필요 없음'

                $therapy.appendChild($option);
            })
    })

    const $name = document.getElementById('patientName');
    const $age = document.getElementById('age');
    const $height = document.getElementById('height');
    const $weight = document.getElementById('weight');
    const $phone = document.getElementById('phone');
    const $email = document.getElementById('email');
    const $maleRadio = document.getElementById('Male');
    const $femaleRadio = document.getElementById('Female');
    const $comment = document.getElementById('details');

    $comment.addEventListener('input',e=>{
        if($comment.value){
            $comment.classList.add('is-valid');

        }else{
            $comment.classList.remove('is-valid');
        }
    })

    let buttonIndicator = [false,false,false,false,false,false,false,false]
    const $privateInfo = [$height,$weight];
    for(let i=0; i<$privateInfo.length;i++){
        checkPositive(i,$privateInfo[i]);
    }



    function checkPositive(i,element){
        element.addEventListener('input', e=>{
            const numbers = element.value;
            if(numbers<=0){
                element.classList.add('is-invalid');
                element.classList.remove('is-valid');
                buttonIndicator[i]=false;
            }
            else{
                element.classList.remove('is-invalid');
                element.classList.add('is-valid');
                buttonIndicator[i]=true;
            }
            checkIndicator();
        })
    }

    $maleRadio.addEventListener('click',validateGender);
    $femaleRadio.addEventListener('click',validateGender);

    function validateGender(){
        if($maleRadio.checked || $femaleRadio.checked){
            buttonIndicator[7]=true;
        }
        else{
            buttonIndicator[7]=true;
        }

        checkIndicator()
    }

    $age.addEventListener('input',e=>{
        const isValid = /^([1-9][0-9]{0,2})$/.test($age.value);
        if(isValid){
            $age.classList.add('is-valid');
            $age.classList.remove('is-invalid');
            buttonIndicator[2]=true;
        }else{
            $age.classList.remove('is-valid');
            $age.classList.add('is-invalid');
            buttonIndicator[2]=false;
        }
        checkIndicator();
    })

    $phone.addEventListener('input',e=>{
        const isValid = /^\d{10,11}$/.test($phone.value);
        if(isValid){
            $phone.classList.add('is-valid')
            $phone.classList.remove('is-invalid');
            buttonIndicator[6]=true;
        }
        else{
            $phone.classList.add('is-invalid');
            $phone.classList.remove('is-valid');
            buttonIndicator[6]=false;
        }
        checkIndicator();
    })


    $email.addEventListener('input',e=>{
        const isValid = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|net)$/.test($email.value);
        if(isValid){
            $email.classList.remove('is-invalid');
            $email.classList.add('is-valid');

        }
        else{
            $email.classList.add('is-invalid');
            $email.classList.remove('is-valid');

        }

        if(!$email.value){
            $email.classList.remove('is-valid');
            $email.classList.remove('is-invalid');
        }
    })

    $name.addEventListener('input',e=>{
        const isValid1 = /^[가-힣]+$/.test($name.value);
        const isValid2 = /^[a-zA-Z]+$/.test($name.value);
        if(isValid1||isValid2){
            $name.classList.add('is-valid');
            $name.classList.remove('is-invalid');
            buttonIndicator[3]=true;
        }else{
            $name.classList.add('is-invalid');
            $name.classList.remove('is-valid');
            buttonIndicator[3]=false;
        }

        checkIndicator();

    })

    $injury.addEventListener('change',e=>{
        if($injury.value){
            $injury.classList.add('is-valid');
            $injury.classList.remove('is-invalid');
            buttonIndicator[4]=true;
        }else{
            $injury.classList.add('is-invalid');
            $injury.classList.remove('is-valid');
            buttonIndicator[4]=false;
        }

        checkIndicator();
    })
    $therapy.addEventListener('change',e=>{
        if($therapy.value){
            $therapy.classList.add('is-valid');
            $therapy.classList.remove('is-invalid');
            buttonIndicator[5]=true;
        }else{
            $therapy.classList.add('is-invalid');
            $therapy.classList.remove('is-valid');
            buttonIndicator[5]=false;
        }
        checkIndicator();
    })

    function checkIndicator(){
        if(buttonIndicator.every(ele=>ele)){
            $regist.style.pointerEvents='auto';
            $regist.style.opacity=1;
        }else{
            $regist.style.pointerEvents='none';
            $regist.style.opacity=0.55;
        }
    }


    const exampleModal = document.getElementById('exampleModal');

    exampleModal.addEventListener('hidden.bs.modal', function () {
        // 입력 필드 초기화
        $makeProject.reset();

        // 각 입력 필드의 유효성 클래스 제거
        const fields = [$name, $age, $height, $weight, $phone, $email,$injury,$therapy,$comment];
        fields.forEach(field => {
            field.classList.remove('is-valid', 'is-invalid');
        });

        // 성별 라디오 버튼 초기화
        $maleRadio.checked = false;
        $femaleRadio.checked = false;

        // select 필드 초기화
        $injury.selectedIndex = 0;
        $therapy.selectedIndex = 0;

        // 치료사 옵션 초기화
        $therapy.innerHTML = '<option selected disabled>Open this select menu</option>';

        // 유효성 검사 배열 초기화
        buttonIndicator.fill(false);

        // 등록 버튼 비활성화
        $regist.style.pointerEvents = 'none';
        $regist.style.opacity=0.55;
    });
</script>

<!--patient modal-->
</body>

<script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>