<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/theraFirstPage.css">
    <title>Title</title>
</head>
<body>
    <th:block th:insert="~{common/nav}"></th:block>
    <th:block th:insert="~{common/header}"></th:block>

    <div class="container-fluid">

    <!--search area-->
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card search-form">
                    <div class="card-body p-0">
                        <form id="search-form" action="/theraLink/patientSearch" method="get">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row no-gutters">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <select class="form-control" id="exampleFormControlSelect1" name="injury">
                                                <option selected disabled>Injury</option>
                                                <th:block th:each="injury : ${injuryMap}">
                                                    <option th:value="${injury.injuryCode}" th:text="${injury.injuryName}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                            <input type="text" placeholder="환자명..." class="form-control" id="search"
                                                   name="patientName">
                                        </div>
                                        <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                            <button type="submit" class="btn btn-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-search">
                                                    <circle cx="11" cy="11" r="8"></circle>
                                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!--search-->

    <!--sorting 과 현재 페이지 정보-->
        <div class="row">
            <div class="col-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <div class="row search-body">
                            <div class="col-lg-12">
                                <div class="search-result">
                                    <div class="result-header">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="records">Showing: <b th:text="|${pageLimit}-${pageLimit+4}|"></b> of <b th:text="${totalData}"></b> result</div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="result-actions">
                                                    <div class="result-sorting">

                                                    </div>
                                                    <div class="result-views">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--sorting 과 현재 페이지 정보-->


                                    <div class="result-body">
                                        <div class="table-responsive">
                                            <table class="table widget-26">
                                                <tbody>
                                                <tr>
                                                    <th></th>
                                                    <th>Name/Age</th>
                                                    <th>Phone/Email</th>
                                                    <th>Injury</th>
                                                    <th>Date</th>
                                                </tr>
                                                <!-- 한줄 시작-->
                                                <th:block th:if="${patients.size()!=0}">
                                                <tr th:each="p : ${patients}">
                                                    <td>
                                                        <a th:href="@{|/theraLink/open/${p.projectNo}/1|}" class="widget-26-job-emp-img" th:text="${p.patientNo}">

                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-title">
                                                            <a th:href="@{|/theraLink/open/${p.projectNo}/1|}" th:text="${p.patientName}"></a>
                                                            <p class="m-0">
                                                                <a class="employer-name"></a>
                                                                <span class="text-muted time" th:text="|${p.age} 세|"></span>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-info">
                                                            <p class="type m-0" th:text="${p.phone}"></p>
                                                            <th:block th:if="${p.email!=null}">
                                                                <p class="text-muted m-0">at
                                                                    <span class="location" th:text="${p.email}"></span>
                                                                </p>
                                                            </th:block>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-salary" th:text="${p.injuryName}"></div>
                                                    </td>
                                                    <td>
                                                        <div th:text="${p.projectDate}"></div>
                                                    </td>
                                                </tr>
                                                </th:block>
                                                <th:blcok th:if="patients.size==0">
                                                    <tr>
                                                        <td>처리중인 환자가 없습니다</td>
                                                    </tr>
                                                </th:blcok>
                                                <!-- 한줄 끝-->



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="d-flex justify-content-center">
                            <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                                <th:block th:if="${pageNo==1}">
                                    <li class="page-item disabled">
                                        <a class="page-link no-border">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:if="${pageNo!=1}">
                                <li class="page-item">
                                    <a class="page-link no-border" th:href="@{|/theraLink/${pageNo - 1}|}">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                </th:block>
                                <th:block th:with="start=1, last=${totalPage}">
                                    <th:block th:each="p : ${#numbers.sequence(start,last)}">
                                        <th:block th:if="${pageNo == p}">
                                            <li class="page-item active"><a class="page-link no-border" th:href="@{|/theraLink/${p}|}" th:text="${p}"></a></li>
                                        </th:block>
                                        <th:block th:if="${pageNo != p}">
                                            <li class="page-item"><a class="page-link no-border" th:href="@{|/theraLink/${p}|}" th:text="${p}"></a></li>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                <th:block th:if="${pageNo == totalPage}">
                                    <li class="page-item disabled">
                                        <a class="page-link no-border" >
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:if="${pageNo != totalPage}">
                                <li class="page-item">
                                    <a class="page-link no-border" th:href="@{|/theraLink/${pageNo + 1}|}">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                </th:block>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/firstPage.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
    <script type="text/javascript"></script>
</body>
</html>