<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/secondPage.css">
    <link rel="stylesheet" href="/assets/css/chatting.css">
    <link rel="stylesheet" href="/assets/css/image-uploader.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,400,500,600,700|Source+Code+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
      integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

    <th:block th:insert="~{/common/nav}"></th:block>
    <th:block th:insert="~{/common/header}"></th:block>

    <!-- 내용물 시작 -->
    <div class="container-fluid">
        <div class="row">
            <!-- blog1 -->
            <th:block th:each="thera : ${theraLink}">
                <div class="col-lg-3 col-md-6 mt-4 pt-2 blogPage" th:id="${thera.theraLinkNo}">
                    <div class="blog-post rounded border">
                        <div class="blog-img d-block overflow-hidden position-relative">
                            <th:block th:if="${thera.savedName!=null}">
                                <img th:src="|/static/common/postimg/${thera.savedName}|" class="img-fluid rounded-top" alt>
                            </th:block>
                            <th:block th:unless="${thera.savedName!=null}">
                                <img src="https://www.bootdey.com/image/350x280/FF7F50/000000" class="img-fluid rounded-top" alt>
                            </th:block>
                            <div class="overlay rounded-top bg-dark"></div>
                            <div class="post-meta">
                                <a href="javascript:void(0)" class="text-light d-block text-right like" data-bs-toggle="modal" data-bs-target="#theraDetail"></a>
                                <a href="javascript:void(0)" class="text-light read-more" data-bs-toggle="modal" data-bs-target="#theraDetail">Read More <i
                                    class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="content p-3">
                            <small class="text-muted p float-right" th:text="${thera.theraBoardDate}"></small>
                            <small><a href="javascript:void(0)" class="text-primary" th:text="|${thera.comment} comments|" data-bs-toggle="modal" data-bs-target="#theraDetail"></a></small>
                            <h4 class="mt-2"><a href="javascript:void(0)" class="text-dark title" th:text="${thera.theraTitle}" data-bs-toggle="modal" data-bs-target="#theraDetail"></a></h4>
                            <p class="text-muted mt-2" th:text="${thera.theraContents}"></p>
                            <div class="pt-3 mt-3 border-top d-flex">
                                <div class="author mt-9">
                                    <h6 class="mb-0"><input type="checkbox" th:class="|delete-${thera.theraLinkNo}|" sec:authorize="hasAnyAuthority('t')" th:text="| DELETE|"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <!-- blog1 -->


        </div>
        <!-- pagination -->
        <br>
        <nav class="d-flex justify-content-center">
            <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                <th:block th:if="${pageNo}!=1">
                <li class="page-item">
                    <a class="page-link no-border" th:href="@{|/theraLink/open/${projectNo}/${pageNo - 1}|}">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                </th:block>
                <th:block th:if="${pageNo}==1">
                    <li class="page-item disabled">
                        <a class="page-link no-border">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                </th:block>
                <th:block th:with="start=1, last=${totalPage}">
                    <th:block th:each="p : ${#numbers.sequence(start,last)}">
                        <th:block th:if="${pageNo == p}">
                            <li class="page-item active"><a class="page-link no-border" th:href="@{|/theraLink/open/${projectNo}/${p}|}" th:text="${p}"></a></li>
                        </th:block>
                        <th:block th:if="${pageNo != p}">
                            <li class="page-item"><a class="page-link no-border" th:href="@{|/theraLink/open/${projectNo}/${p}|}" th:text="${p}"></a></li>
                        </th:block>

                    </th:block>
                </th:block>
                <th:block th:if="${totalPage!=pageNo}">
                <li class="page-item">
                    <a class="page-link no-border" th:href="@{|/theraLink/open/${projectNo}/${pageNo + 1}|}">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                </th:block>
                <th:block th:if="${totalPage==pageNo}">
                    <li class="page-item disabled">
                        <a class="page-link no-border">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </nav>
        <!-- pagination -->
    </div>

    <!-- floating button -->
    <div class="floating-container" sec:authorize="hasAnyAuthority('t')">
        <div class="floating-button">+</div>
        <div class="element-container">


            <span class="float-element tooltip-left" data-bs-toggle="modal" data-bs-target="#makeTheraLink" style="cursor: pointer;" id="createTheraLink">
                <i class="material-icons">chat</i>
            </span>

                <span class="float-element" style="cursor: pointer;" id="deleteButton">
                    <i class="material-icons">delete</i>
                </span>

        </div>
        <form method="get" id="killTheraLink"></form>
    </div>
    <!-- floating button -->



    <!-- 상세페이지용 모달 -->
    <div class="modal fade" id="theraDetail" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 50vw;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="theraLinkTitle">TheraLink 제목제목</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <main class="content">
                        <div class="container p-0">
                            <div class="card" >
                                <div class="row g-0">

                                    <!-- 왼쪽 공간 -->

                                    <div class="col-12 col-lg-6 col-xl-6 border-end" style="display: flex; flex-direction: column; align-items: center;">
                                        <div class="px-4 d-none d-md-block">
                                            <div class="d-flex align-items-center">
                                            </div>
                                        </div>
                                        <!-- 왼쪽 내용물 -->


                                        <!--사진공간-->
                                        <div id="carouselExample" class="carousel slide" style="min-height: 40vh; width: 100%;" >
                                            <div class="carousel-inner" id="picturearea">

                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>

                                        <!--사진공간-->

                                        <!--글자공간-->
                                        <div class="theraLink-contents" id="theraLinkContents">

                                        </div>

                                        <!--글자공간-->
                                        <!-- 왼쪽 내용물 -->
                                        <hr class="d-block d-lg-none mt-1 mb-0">
                                    </div>

                                    <!-- 왼쪽 공간 -->

                                    <!-- 오른쪽 채팅공간 -->
                                    <div class="col-12 col-lg-6 col-xl-6">
                                        <!--수정 삭제 버튼-->
                                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                                            <div class="d-flex align-items-center py-1">
                                                <div class="position-relative">

                                                </div>
                                                <div class="flex-grow-1 pl-3">

                                                </div>


                                                <div>
                                                    <button class="btn btn-primary btn-lg mr-1 px-3" data-bs-toggle="modal" data-bs-target="#updateTheraLink" sec:authorize="hasAnyAuthority('t')" id="modifyTheraLink">
                                                        <i class="fa-solid fa-pen-nib"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-lg mr-1 px-3 d-none d-md-inline-block" id="chatDeleteButton">
                                                        <i class="fa-solid fa-eraser"></i>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                        <!--수정 삭제 버튼-->


                                        <div class="position-relative">
                                            <div class="chat-messages p-4" id="chattingarea">
                                                <!--chatting 공간-->

                                                <!--chatting 공간-->
                                            </div>
                                        </div>
                                        <div class="flex-grow-0 py-3 px-4 border-top">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Type your message" id="inputMessage">
                                                <button class="btn btn-primary" type="button" id="sendingMessage">Send</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 오른쪽 채팅 공간 -->
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- 상세페이지용 모달 -->


    <!-- theraLink 생성용 모달 -->
    <div class="modal fade" id="makeTheraLink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 50vw;">

            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">TheraLink</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" name="form-example-2" id="form-example-2" enctype="multipart/form-data">

                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="title" placeholder="title" name="title" required>
                            <label for="title">Title</label>
                        </div>

                        <div class="form-floating mb-4">
                            <textarea class="form-control" placeholder="Contents" id="TheraLink-contents" style="min-height: 30vh;" name="theraLinkContent" required></textarea>
                            <label for="theraLink-contents">Contents</label>
                        </div>

                        <!-- 파일업로드 -->
                        <div class="input-field mb-4">
                            <label class="active">Photos</label>
                            <div class="input-images" style="padding-top: .5rem;" id="imaging"></div>
                        </div>
                        <!-- 파일업로드 -->
                        <div class="text-end">
                            <button class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>


            </div>

        </div>
    </div>
    <!-- theraLink용 모달 -->

    <!--theralink 수정 모달-->

<div class="modal fade" id="updateTheraLink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 50vw;">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">TheraLink Modification</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" name="form-example-2" id="form-example-1" enctype="multipart/form-data">

                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="title1" placeholder="title" name="title">
                        <label for="title">Title</label>
                    </div>

                    <div class="form-floating mb-4">
                        <textarea class="form-control" placeholder="Contents" id="TheraLink-contents1" style="min-height: 30vh;" name="theraLinkContent"></textarea>
                        <label for="theraLink-contents">Contents</label>
                    </div>

                    <!-- 파일업로드 -->
                    <div class="input-field mb-4">
                        <label class="active">Photos</label>
                        <div class="input-images1" style="padding-top: .5rem;" id="modifyPicture"></div>
                    </div>
                    <!-- 파일업로드 -->
                    <div class="text-end">
                        <button class="btn btn-primary">Modify</button>
                    </div>
                </form>
            </div>


        </div>

    </div>
</div>
    <!--theralink 수정 모달-->

    <!-- 내용물 끝 -->







    <script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/assets/js/image-uploader.min.js"></script>
    <script src="/assets/js/secondPage.js"></script>
    <script>

        $(function () {


            $('.input-images').imageUploader();


            $('#form-example-2').on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                let formData = new FormData(document.getElementById('form-example-2'));

                formData.append('theraTitle',$('#title').val());
                formData.append('contents',$('#TheraLink-contents').val())
                let inputElements = document.querySelectorAll('.image-uploader input[type="file"]');
                let filesAdded = false;

                    inputElements.forEach(inputElements => {
                        let files = inputElements.files;
                        if(files.length>0) {
                            for (let i = 0; i < files.length; i++) {
                                formData.append('images', files[i]);
                                filesAdded=true;
                            }
                        }
                    })


                const nowPage = window.location.href;
                const projectNo = nowPage.split("/")[5];
                console.log('projectNo'+projectNo);

                $.ajax({
                    url: `/theraLink/theraUpload/${projectNo}`,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if(response.redirectURL){
                            console.log('성공이요');
                            window.location.href=response.redirectURL;
                        }



                    },
                    error: function(xhr, status, error) {
                        console.log('실패요');
                        let response = JSON.parse(xhr.responseText);



                        window.location.href=`/theraLink/open/${projectNo}/1`;
                    }
                });


                // Get the input file
                let $inputImages = $form.find('input[name^="images"]');
                if (!$inputImages.length) {
                    $inputImages = $form.find('input[name^="photos"]')
                }



                // Get the new files names
                let $fileNames = $('<ul>');
                for (let file of $inputImages.prop('files')) {
                    $('<li>', {text: file.name}).appendTo($fileNames);
                }

                // Set the new files names
                $modal.find('#display-new-images').html($fileNames.html());

                // Get the preloaded inputs
                let $inputPreloaded = $form.find('input[name^="old"]');
                if ($inputPreloaded.length) {

                    // Get the ids
                    let $preloadedIds = $('<ul>');
                    for (let iP of $inputPreloaded) {
                        $('<li>', {text: '#' + iP.value}).appendTo($preloadedIds);
                    }

                    // Show the preloadede info and set the list of ids
                    // $modal.find('#display-preloaded-images').show().html($preloadedIds.html());

                } else {

                    // Hide the preloaded info
                    // $modal.find('#display-preloaded-images').hide();

                }

                // Show the modal
                // $modal.css('visibility', 'visible');

                // $modal.css('visibility', 'visible');
            });

            $('input').on('focus', function () {
                $(this).parent().find('label').addClass('active');
            }).on('blur', function () {
                if ($(this).val() == '') {
                    $(this).parent().find('label').removeClass('active');
                }
            });

            let $nav = $('nav'),
                $header = $('header'),
                offset = 4 * parseFloat($('body').css('font-size')),
                scrollTop = $(this).scrollTop();

            $(window).on('scroll', function () {
                scrollTop = $(this).scrollTop();
                setNav();
            });

            function setNav() {
                if (scrollTop > $header.outerHeight()) {
                    $nav.css({position: 'fixed', 'top': offset});
                } else {
                    $nav.css({position: '', 'top': ''});
                }
            }
        });


        // theralink 수정

    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>