#mainbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: rgb(3, 61, 94);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pack {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    white-space: nowrap;
}

.pack::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22a4ce;
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.pack:hover::after,
.pack.active::after {
    opacity: 1;
}

.pack span {
    margin-left: 5%;
    font-family: Arial, sans-serif;
    font-size: 1vw;
}

#mainNav {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#mainNav > div {
    margin-top: 20px;
    width: 100%;
}

#subNav {
    display: flex;
    position: absolute;
    bottom: 10%;
    align-items: center;
    justify-content: flex-start;
}

#mainbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

i {
    color: white;
}

.title {
    font-size: 15px;
}

#mainNav p, #subNav p {
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: white;
}

.logo22 {
    width: 150px;
    height: auto;
}

#navline {
    border: none;
    background-color: white;
    height: 2px;
}

.logoimgg {
    width: 60%;
}

.logoimgg img {
    display: block;
    width: 100%;
    height: auto;
}

.pack i {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3vw;
    margin-top: -4%;
}
