*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(215, 214, 214);
}


#mainbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; /* 너비 조정 */
    height: 100%; /* 화면 전체 높이까지 확장 */
    background-color: rgb(3, 61, 94); /* 배경색 지정 */
    transition: width 0.5s ease; /* 너비 변화에 대한 애니메이션 효과 적용 */
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mainNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;



}

#mainNav>div{
    margin-top: 40px;
}

#subNav {
    display: flex;
    position: absolute;
    bottom: 10%;
    align-items: center;
    justify-content: flex-start;
}



#mainbar a {
    color: white; /* 링크 색상 지정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 15px ;
}

i{
    color: white;
}

.title{

    font-size: 15px;
}
.pack{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pack p {
    margin-left: 5px; /* 아이콘과 텍스트 사이의 간격을 조정하세요 */
}

#mainNav p {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif;
    color:white;
}

#subNav p {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif;
    color:white;

}

.mainPage{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contents{
    display: flex;

}
.main-title{

    width: 80vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;

}

.line {

    width: 80vw; /* 선의 길이를 늘림 */
    height: 1px; /* 선의 높이 */
    border-radius: 0.5px;
    background-color: rgb(3, 61, 94); /* 선의 색상 */

    /* margin-bottom: 20%;  */
    border: 1px solid rgb(3, 61, 94);
}

.psmc{

    font-family: Arial, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    align-self: flex-end;

    color:rgb(3, 61, 94);
}
.docIcon{
    font-size: 2.5vw;
    color:rgb(3, 61, 94);
    position: absolute;
    right: 3vw;
    align-self: end;
}
.logo{
    width: 7%;

}










.notice {
  margin-top: -20px; /* 전체적으로 위로 올리기 위한 값 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
  }

section {
    margin-left: 15%;
    margin-top: 1%;
}

  section.notice {
    padding: 80px 0;
  }
  
  .page-title {
    margin-bottom: 2%;
  }
  .page-title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
  }
  
  #board-search .search-window {
    padding: 15px 0;
    background-color: rgb(3, 61, 94);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px; /* 위쪽 왼쪽 모서리 둥글게 */
    border-top-right-radius: 10px; /* 위쪽 오른쪽 모서리 둥글게 */
  }
  

  #search{
    border-radius: 5px;
    margin-right: 1%;
  }

 .delete-btn{
    display: flex;
    flex-direction: column;
    
 }

 #deleteButton{
    align-self: flex-end;
    margin-right: 1.5%;
    
 }

  #board-search .search-window .search-wrap {
    /* position: relative; */
  /*   padding-right: 124px; */
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
    flex-direction: row;
  }

  #board-search .search-window .search-wrap input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
  }
  #board-search .search-window .search-wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
  }
  #board-search .search-window .search-wrap .btn {
    /* position: absolute;
    right: 0;
    top: 0;
    bottom: 0; */
    width: 108px;
    height: 40px;
    padding: 0;
    font-size: 16px;
  }
  
  .board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
  }
  .board-table a:hover {
    text-decoration: underline;
  }
  .board-table th {
    text-align: center;
  }
  
  .board-table .th-num {
    width: 100px;
    text-align: center;
  }
  
  .board-table .th-date {
    width: 200px;
  }
  
  .board-table th, .board-table td {
    padding: 14px 0;
  }
  
  .board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
  }
  
  .board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
  }
  
  .board-table tbody th p{
    display: none;
  }
  
  .btn {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn-dark {
    background: #555;
    color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
  }
  
  /* reset */
  
  * {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  .container {
    width: 1100px;
    margin: 0 auto;
  }
  .blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
  }

  /* 새로운 버튼 색상과 위치 스타일 */

  .btn-light {
    background-color: #007bff; /* 파란색 */
    color: #fff;
  }
  
  .btn-light:hover, .btn-light:focus {
    background-color: #0056b3; /* 호버 시 어두운 파란색 */
    border-color: #0056b3;
  }
  
  /* 새로운 버튼 색상과 위치 스타일 */
.btn-light {
  background-color: #007bff; /* 파란색 */
  color: #fff;
}

.btn-light:hover, .btn-light:focus {
  background-color: #0056b3; /* 호버 시 어두운 파란색 */
  border-color: #0056b3;
}

.form-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 10px; /* 버튼과 컨테이너의 여백 조정 */
  margin-top: -3em; /* 검색 바와 작성하기 버튼 사이의 간격 조정 */
}
/* 작성하기 버튼의 스타일 */
.form-container button {
  flex: 1; /* 내부 버튼이 컨테이너의 크기에 맞게 확장될 수 있도록 함 */
  padding: 8px 12px; /* 버튼 내부 여백 설정 */
  font-size: 0.9rem; /* 버튼 글꼴 크기 설정 */
  border-radius: 5px; /* 버튼 모서리를 둥글게 만듭니다. */
  max-width: 100px; /* 버튼의 최대 가로 길이를 설정합니다. */
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media screen and (max-width: 768px) {
  .form-container {
    margin-top: -2rem; /* 작은 화면에서의 간격 조정 */
  }
  /* 작은 화면에서 버튼의 크기와 여백 조정 */
  .form-container button {
    padding: 6px 10px; /* 작은 화면에서 버튼 내부 여백 줄이기 */
    font-size: 0.7rem; /* 작은 화면에서 버튼 글꼴 크기 줄이기 */
  }
}


.boxxx {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color:#f5f5f5;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  justify-content: center;
  border-bottom-left-radius: 20px; /* 아래쪽 왼쪽 모서리 둥글게 */
  border-bottom-right-radius: 20px; /* 아래쪽 오른쪽 모서리 둥글게 */
}

.parent-container {
  margin-top: -20px; /* 전체적으로 위로 올리기 위한 값 */
}
