*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(215, 214, 214);
}


#mainbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; /* 너비 조정 */
    height: 100%; /* 화면 전체 높이까지 확장 */
    background-color: rgb(3, 61, 94); /* 배경색 지정 */
    transition: width 0.5s ease; /* 너비 변화에 대한 애니메이션 효과 적용 */
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mainNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;



}

#mainNav>div{
    margin-top: 40px;
}

#subNav {
    display: flex;
    position: absolute;
    bottom: 10%;
    align-items: center;
    justify-content: flex-start;
}



#mainbar a {
    color: white; /* 링크 색상 지정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 15px ;
}

i{
    color: white;
}

.title{

    font-size: 15px;
}
.pack{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pack p {
    margin-left: 5px; /* 아이콘과 텍스트 사이의 간격을 조정하세요 */
}

#mainNav p {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif;
    color:white;
}

#subNav p {
    font-size: 15px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif;
    color:white;

}

.mainPage{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contents{
    display: flex;

}
.main-title{

    width: 80vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;

}

.line {

    width: 80vw; /* 선의 길이를 늘림 */
    height: 1px; /* 선의 높이 */
    border-radius: 0.5px;
    background-color: rgb(3, 61, 94); /* 선의 색상 */

    /* margin-bottom: 20%;  */
    border: 1px solid rgb(3, 61, 94);
}

.psmc{

    font-family: Arial, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    align-self: flex-end;

    color:rgb(3, 61, 94);
}
.docIcon{
    font-size: 2.5vw;
    color:rgb(3, 61, 94);
    position: absolute;
    right: 3vw;
    align-self: end;
}
.logo{
    width: 7%;

}

.containerSpace {
    display: grid;
    grid-template-areas: 'left-spacea headera right-asidea'
                         'left-spacea maina right-asidea'
                         'left-spacea commenta right-asidea';
    width: 90vw;
    margin-left: 12vw;
    margin-top: 0.1%;
    height: 77vh;
    grid-gap: 8px;
    grid-template-columns: 0.5fr 20fr 0.5fr;
    grid-template-rows: 1fr 8fr 8fr;
}
.containerSpace > div{
    padding: 20px;
    border-radius: 10px;
}
.headerSpace {
    background-color: rgb(3, 61, 94);
    grid-area: headera;
    height: 9vh;
    text-align: center;
    color: white;
}

.headerSpace h5 {
    font-size: 1.1rem;
}

.headerSpace p {
    font-size: 0.5rem;
}

.left-spaceSpace {
    background-color: white;
    grid-area: left-spacea;
}
.mainSpace {
    margin-bottom: 0.1%;
    grid-area: maina;
    background-color: rgb(3, 61, 94);
}

.mainSpace .card {
    height: 25vh;
}

.mainSpace .card-body p {
    font-size: 0.9rem;
}

.commentSpace {
    grid-area: commenta;
    background-color: rgb(3, 61, 94);o
}
.right-asideSpace {
    grid-area: right-asidea;
    background-color: white;
}

.containerSpace {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.media {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.media img {
    margin-right: 10px;
}

.media-body {
    font-size: 0.9rem;
    color: #555;
}

.commentSpace {
    /* margin-top: 1%; */
    margin-bottom: 5%;
}

.commentSpace h6 {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.1px;
}

.commentSpace hr {
    margin: 10px 0;
}

.commentCards {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group {
    overflow: auto; /* 내용이 넘칠 때 스크롤바를 표시함 */
    max-height: 25vh; /* 최대 높이 지정 */
}

.list-one {
    display: flex;
}

.list-one input {
    margin-right: 0.5rem;
}

.list-group-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 1px;
    padding: 3px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px; /* 원하는 값으로 조정 */
    border-bottom-right-radius: 10px; /* 원하는 값으로 조정 */
}



.list-group-item h5 {
    font-size: 0.7rem;
    margin-bottom: 5px;
    color: black;
}

.list-group-item p {
    font-size: 0.6rem;
    margin-bottom: 0.25rem;
}

.list-group-item small {
    color: #999;
    font-size: 0.5rem;
}


.comment-checkbox {
    margin-right: 10px;
    align-self: center;
}

.d-flex {
    align-items: center;
}


.text-body-secondary {
    color: #666;
    margin-left: 1px;
}

.text-body-secondary svg {
    margin-left: 5px;
}

.commentCard small {
    margin-left: auto;
}

/* .list-group-item input[type="checkbox"] {
    margin-left: 2rem; 
} */

.chat-container { 
    max-width: 500px; 
    margin: 0px auto; 
    background-color: #fff; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
} 

.message-container { 
    display: flex; 
    flex-direction: column; 
} 

.message { 
    /* padding: 10px 20px;  */
    margin: 10px; 
    border-radius: 10px; 
    
    word-wrap: break-word; 
    display: flex; 
    align-items: center; 
} 

.plusDate {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%; 
}

.message-text {
    font-size: 0.7rem;
}

.dateTime{
    display: flex;
    font-size: 0.5em;
    align-items: center;
}

.sender-messages { 
    /* display: flex;
    align-items: center; */
    align-self: flex-start; 
} 

.sender-message {
    background-color: #e0e0e0; 
    color: #000; 
    padding: 5px 16px 5px 5px;
}

.receiver-message {
    padding: 5px 7px 5px 16px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0;
}

.profile .senderName {
    border-radius: 50%;
    background-color: #22b0b5;
    font-size: 0.4rem;
    padding: 5px;
    margin-right: 8px;
    /* font-weight: bold; */
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.receiver-messages {
    align-self: flex-end;
}

.receiver-message { 
    background-color: #2974f4; 
    color: #fff; 
} 

.messageInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
}

.messageInput input{
    width: 80%;
    padding: 0.5%;
    border-radius: 5px; 
    border: 0.5px solid #7f8787;
    outline: none;
    font-size: 0.8rem;
}

.messageInput input:focus {
    border: 0.5px solid #7f8787; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(174, 180, 184, 0.5); /* 포커스 시 그림자 추가 */
}

.messageInput button { 
    padding: 6px; 
    margin: 10px; 
    background-color: #2974f4; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 0.7rem;
} 

.delete-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 2%;
    margin-right: 0.1%;
}
