<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclass.psmc.mediConnect.model.dao.ProjectsMapper">

    <resultMap id="patientResultMap" type="com.javaclass.psmc.common.model.dto.PatientDTO">
        <id property="patientNo" column="patient_no"/>
        <result property="patientName" column="patient_name"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
    </resultMap>

    <resultMap id="injuryResultMap" type="com.javaclass.psmc.common.model.dto.InjuryDTO">
        <id property="injuryCode" column="injury_code"/>
        <result property="injuryName" column="injury_name"/>
    </resultMap>

    <resultMap id="createProjectResultMap" type="com.javaclass.psmc.common.model.dto.CreateProjectDTO">
        <id property="projectNo" column="project_no"/>
        <result property="pmCode" column="pm_code"/>
    </resultMap>

    <resultMap id="assignProjectResultMap" type="com.javaclass.psmc.common.model.dto.AssignProjectDTO">
        <id property="projectNo" column="project_no"/>
        <result property="pmCode" column="pm_code"/>
    </resultMap>

    <resultMap id="showAllProjectsResultMap" type="com.javaclass.psmc.mediConnect.model.dto.ShowAllProjectsDTO">
        <id property="projectNo" column="project_no"/>
        <result property="patientNo" column="patient_no"/>
        <association property="injuryDTO" resultMap="injuryResultMap"/>
        <association property="patientDTO" resultMap="patientResultMap"/>
        <association property="createProjectDTO" resultMap="createProjectResultMap"/>
        <association property="assignProjectDTO" resultMap="assignProjectResultMap"/>
    </resultMap>

    <resultMap id="memberRegistResultMap" type="com.javaclass.psmc.common.model.dto.MemberRegistDTO">
        <id property="registNo" column="regist_no"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="birth" column="birth"/>
        <result property="employeeStatus" column="employee_status"/>
        <result property="role" column="role"/>
        <result property="pmCode" column="pm_code"/>
    </resultMap>

    <resultMap id="employeeResultMap" type="com.javaclass.psmc.common.model.dto.EmployeeDTO">
        <id property="pmCode" column="pm_code"/>
        <result property="empNo" column="emp_no"/>
        <result property="phone" column="phone"/>
        <result property="companyEmail" column="company_email"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="positionCode" column="position_code"/>
        <result property="gender" column="gender"/>
        <result property="officeNum" column="office_num"/>
        <result property="fieldCode" column="field_code"/>
        <result property="picture" column="picture"/>
    </resultMap>


    <select id="showAllProjects" resultMap="showAllProjectsResultMap" parameterType="string">
        select distinct
            a.patient_name,
            a.age,
            a.gender,
            b.patient_no,
            b.project_no,
            c.injury_code,
            c.injury_name
        from
            patient a
        join
            project b on a.patient_no = b.patient_no
        join
            injury c on b.injury_code = c.injury_code
        join
            medi_connect e on b.project_no = e.project_no
        join
            medi_chat d on e.medi_no = d.medi_no
        where
            b.project_status = 'Y'
            and
            d.pm_code = #{pmCode};
    </select>

    <resultMap id="showMediConnectsResultMap" type="com.javaclass.psmc.mediConnect.model.dto.ShowMediConnectDTO">
        <id property="mediNo" column="medi_no"/>
        <result property="mediTitle" column="medi_title"/>
        <result property="mediContent" column="medi_content"/>
        <result property="mediBoardDate" column="medi_board_date"/>
        <result property="projectNo" column="project_no"/>
        <association property="createProjectDTO" resultMap="createProjectResultMap"/>
    </resultMap>

    <select id="showAllBoards" resultMap="showMediConnectsResultMap" parameterType="hashmap">
        select
            a.medi_no,
            a.medi_title,
            a.medi_content,
            a.medi_board_date,
            b.pm_code
        from
            medi_connect a
        join
            create_project b on a.project_no = b.project_no
        where
            b.pm_code = #{pmCode}
            and
            b.project_no = #{projectNo}
            and
            a.medi_status = 'Y';
    </select>

    <update id="deleteBoard" parameterType="hashmap">
        update
            medi_connect
        set
            medi_status = 'N'
        where medi_no in
        <foreach collection="post" item="paramPost" open="(" separator="," close=")">
            #{paramPost}
        </foreach>
    </update>

    <update id="deleteProjects" parameterType="hashmap">
        update
            project
        set
            project_status = 'N'
        where project_no in
        <foreach collection="project" item="projectParam" open="(" separator="," close=")">
            #{projectParam}
        </foreach>
    </update>
    
    <update id="deleteChat" parameterType="hashmap">
        update
            medi_chat
        set
            medi_chat_status = 'N'
        where chat_no in
        <foreach collection="chatNo" item="param" open="(" separator="," close=")">
                #{param}
        </foreach>
    </update>

    <select id="showBoardDetail" resultMap="showMediConnectsResultMap" parameterType="hashmap">
        select
            medi_title,
            medi_content,
            medi_board_date
        from
            medi_connect
        where
            medi_no = #{mediNo}
    </select>

    <select id="showPatientDetail" resultMap="showAllProjectsResultMap" parameterType="hashmap">
        select
            a.patient_no,
            a.patient_name,
            a.age,
            a.gender
        from
            patient a
        join
            project b on a.patient_no = b.patient_no
        where
            b.project_no = #{projectNo}
    </select>

    <select id="showEmployee" resultMap="employeeResultMap" parameterType="hashmap">
        select
            name
        from
            employee
        where
            pm_code = #{pmCode}
    </select>

    <resultMap id="showMediChatDetailResultMap" type="com.javaclass.psmc.mediConnect.model.dto.ShowAllMediChatDTO">
        <id property="chatNo" column="chat_no"/>
        <result property="contents" column="contents"/>
        <result property="mediNo" column="medi_no"/>
        <result property="pmCode" column="pm_code"/>
        <result property="mediChatBoardDate" column="medi_chat_board_date"/>
        <result property="mediChatStatus" column="medi_chat_status"/>
        <association property="employeeDTO" resultMap="employeeResultMap"/>
        <association property="memberRegistDTO" resultMap="memberRegistResultMap"/>
    </resultMap>

    <select id="showMediChatDetail" resultMap="showMediChatDetailResultMap" parameterType="hashmap">
        select
            b.name,
            c.id,
            a.pm_code,
            a.chat_no,
            a.medi_no,
            a.contents,
            a.medi_chat_board_date
        from
            medi_chat a
        join
            employee b on a.pm_code = b.pm_code
        join
            member_regist c on a.pm_code = c.pm_code
        where
            a.medi_no = #{mediNo}
        and
            a.medi_chat_status = 'Y'
        order by
            medi_chat_board_date;
    </select>

    <insert id="registNewMessage" parameterType="com.javaclass.psmc.mediConnect.model.dto.ShowAllMediChatDTO"
            useGeneratedKeys="true" keyProperty="chatNo">
        INSERT INTO `medi_chat`(`medi_no`,`pm_code`,`contents`,`medi_chat_board_date`,`medi_chat_status`)
        VALUES
        (#{mediNo},#{pmCode},#{contents},#{mediChatBoardDate},#{mediChatStatus});
    </insert>

</mapper>