<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclass.psmc.mediConnect.model.dao.ProjectsMapper">
    <resultMap id="patientResultMap" type="com.javaclass.psmc.common.model.dto.PatientDTO">
        <id property="patientNo" column="patient_no"/>
        <result property="patientName" column="patient_name"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
    </resultMap>

    <resultMap id="injuryResultMap" type="com.javaclass.psmc.common.model.dto.InjuryDTO">
        <id property="injuryCode" column="injury_code"/>
        <result property="injuryName" column="injury_name"/>
    </resultMap>

    <resultMap id="createProjectResultMap" type="com.javaclass.psmc.common.model.dto.CreateProjectDTO">
        <id property="projectNo" column="project_no"/>
        <result property="pmCode" column="pm_code"/>
    </resultMap>

    <resultMap id="showAllProjectsResultMap" type="com.javaclass.psmc.mediConnect.model.dto.ShowAllProjectsDTO">
        <id property="projectNo" column="project_no"/>
        <result property="patientNo" column="patient_no"/>
        <association property="injuryDTO" resultMap="injuryResultMap"/>
        <association property="patientDTO" resultMap="patientResultMap"/>
        <association property="createProjectDTO" resultMap="createProjectResultMap"/>
    </resultMap>

    <select id="showAllProjects" resultMap="showAllProjectsResultMap" parameterType="string">
        select
            a.patient_name,
            a.age,
            a.gender,
            b.patient_no,
            b.project_no,
            c.injury_code,
            c.injury_name
        from
            patient a
        join
            project b on a.patient_no = b.patient_no
        join
            injury c on b.injury_code = c.injury_code
        join
            create_project d on b.project_no = d.project_no
        where
            b.project_status = 'Y'
            and
            d.pm_code = #{pmCode};
    </select>

    <resultMap id="showMediConnectsResultMap" type="com.javaclass.psmc.mediConnect.model.dto.ShowMediConnectDTO">
        <id property="mediNo" column="medi_no"/>
        <result property="mediTitle" column="medi_title"/>
        <result property="mediContent" column="medi_content"/>
        <result property="mediBoardDate" column="medi_board_date"/>
        <result property="projectNo" column="project_no"/>
        <association property="createProjectDTO" resultMap="createProjectResultMap"/>
    </resultMap>

    <select id="showAllBoards" resultMap="showMediConnectsResultMap" parameterType="hashmap">
        select
            a.medi_no,
            a.medi_title,
            a.medi_content,
            a.medi_board_date,
            b.pm_code
        from
            medi_connect a
        join
            create_project b on a.project_no = b.project_no
        where
            b.pm_code = #{pmCode}
            and
            b.project_no = #{projectNo}
            and
            a.medi_status = 'Y';
    </select>

    <update id="deleteBoard" parameterType="hashmap">
        update
            medi_connect
        set
            medi_status = 'N'
        where medi_no in
        <foreach collection="post" item="postCheckbox" open="(" separator="," close=")">
            #{postCheckbox}
        </foreach>
    </update>

    <update id="deleteProjects" parameterType="hashmap">
        update
            project
        set
            project_status = 'N'
        where project_no in
        <foreach collection="project" item="projectParam" open="(" separator="," close=")">
            #{projectParam}
        </foreach>
    </update>

</mapper>