<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclass.psmc.user.model.dao.UserMapper">
    <resultMap id="employeeMap" type="com.javaclass.psmc.common.model.dto.EmployeeDTO">
        <id property="pmCode" column="pm_code"/>
        <result property="empNo" column="emp_no"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="positionCode" column="position_code"/>
        <result property="gender" column="gender"/>
        <result property="officeNum" column="office_num"/>
        <result property="fieldCode" column="field_code"/>
    </resultMap>
    <resultMap id="patientMap" type="com.javaclass.psmc.common.model.dto.PatientDTO">
        <id property="patientNo" column="patient_no"/>
        <result property="patientName" column="patient_name"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="phone" column="phone"/>
        <result property="agree" column="agree"/>
        <result property="email" column="email"/>
    </resultMap>
    <resultMap id="injuryMap" type="com.javaclass.psmc.common.model.dto.InjuryDTO">
        <id property="injuryCode" column="injury_code"/>
        <result property="injuryName" column="injury_name"/>
        <result property="fieldCode" column="field_code"/>
    </resultMap>
    <select id="getAllMember" resultMap="employeeMap">
        select
            *
        from
            employee
    </select>
    <select id="findMember" resultMap="employeeMap" parameterType="hashmap">
        select
            *
        from
            employee
        where
            pm_code = #{pmCode}
        and
            emp_no = #{empNo}
    </select>
    <insert id="registMember" parameterType="com.javaclass.psmc.user.model.dto.SignupDTO"
    useGeneratedKeys="true" keyProperty="registNo">
        insert into
            member_regist
            (id,password,phone,email,birth,employee_status,pm_code,role)
        values
            (#{id},#{password},#{phone},#{email},#{birth},'Y',#{pmCode},#{role})
    </insert>

    <resultMap id="memberMap" type="com.javaclass.psmc.user.model.dto.LoginUserDTO">
        <id property="registNo" column="regist_no"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="pmCode" column="pm_code"/>
        <result property="userRole" column="role"/>
    </resultMap>
    <select id="findByUsername" resultMap="memberMap" parameterType="string">
        select
            *
        from
            member_regist
        where
            id=#{username}
    </select>


    <select id="findAllMember" resultMap="memberMap">
        select
            *
        from
            member_regist
    </select>

    <select id="findMemberByPmCode" resultMap="memberMap" parameterType="string">
        select
            *
        from
            member_regist
        where
            pm_code = #{pmCode}
    </select>

    <resultMap id="positionMap" type="com.javaclass.psmc.common.model.dto.PositionDTO">
        <id property="positionCode" column="position_code"/>
        <result property="positionName" column="position_name"/>
    </resultMap>
    <resultMap id="medicalFieldMap" type="com.javaclass.psmc.common.model.dto.MedicalFieldDTO">
        <id property="fieldCode" column="field_code"/>
        <result property="fieldName" column="field_name"/>
    </resultMap>

    <resultMap id="profileMap" type="com.javaclass.psmc.mainPage.model.dto.ProfileDTO">
        <id property="pmCode" column="pm_code"/>
        <result property="name" column="name"/>
        <result property="fieldCode" column="field_code"/>
        <result property="positionCode" column="position_code"/>
        <result property="officeNum" column="office_num"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <association property="positionDTO" resultMap="positionMap"/>
        <association property="medicalFieldDTO" resultMap="medicalFieldMap"/>
    </resultMap>
    <select id="findEmployeeByPmCode" parameterType="string" resultMap="profileMap">
        select
            a.pm_code,
            a.name,
            a.office_num,
            a.email,
            a.phone,
            b.field_name,
            b.field_code,
            c.position_name
        from
            employee a
        join
            medical_field b on a.field_code = b.field_code
        join
            position c on a.position_code = c.position_code
        where
            a.pm_code = #{pmCode}
    </select>
    <resultMap id="assignMap" type="com.javaclass.psmc.mainPage.model.dto.AssignToEmpDTO">
        <association property="employeeDTO" resultMap="employeeMap"/>
    </resultMap>
    <resultMap id="createMap" type="com.javaclass.psmc.mainPage.model.dto.CreateToEmpDTO">
        <association property="employeeDTO" resultMap="employeeMap"/>
    </resultMap>
    <resultMap id="connectProjectMap" type="com.javaclass.psmc.mainPage.model.dto.ConnectProjectDTO">
        <id property="projectNo" column="project_no"/>
        <association property="create" resultMap="createMap"/>
        <association property="assign" resultMap="assignMap"/>
        <association property="patientDTO" resultMap="patientMap"/>
        <association property="injuryDTO" resultMap="injuryMap"/>
    </resultMap>
    <resultMap id="mediInfoToPro" type="com.javaclass.psmc.mainPage.model.dto.MItoProDTO">
        <id property="mediCode" column="medi_code"/>
        <result property="mediDate" column="medi_date"/>
        <result property="day" column="day"/>
        <association property="connectProjectDTO" resultMap="connectProjectMap"/>
    </resultMap>

    <resultMap id="timeToMediInfoMap" type="com.javaclass.psmc.mainPage.model.dto.TtoMIDTO">
        <id property="timeCode" column="time_code"/>
        <result property="timeVal" column="time_val"/>
        <collection property="mItoProDTOS" resultMap="mediInfoToPro"/>
    </resultMap>
    <select id="todayMedi" parameterType="hashmap" resultMap="timeToMediInfoMap">
        select
            e.pm_code,
            p.patient_name,
            p.age,
            m.medi_date,
            m.medi_code,
            t.time_code,
            t.time_val,
            dayofweek(m.medi_date) as 'day',
            i.injury_name
        from
            res_time t
        join
            medi_info m on t.time_code = m.time_code
        join
            project a on a.project_no = m.project_no
        join
            patient p on p.patient_no = a.patient_no
        join
            create_project c on c.project_no = a.project_no
        join
            employee e on e.pm_code = c.pm_code
        join
            injury i on i.injury_code = a.injury_code
        where
            e.pm_code = #{pmCode}
        and
            m.medi_date between #{startDay} and #{endDay}
        and
            m.medi_status='Y'
        and
            a.project_status='Y'
        order by
            t.time_val;

    </select>

    <select id="allTimes" resultMap="timeToMediInfoMap" parameterType="string">
        select
            e.pm_code,
            p.patient_name,
            m.medi_date,
            m.medi_code,
            t.time_code,
            t.time_val,
            a.project_no
        from
            res_time t
        join
            medi_info m on t.time_code = m.time_code
        join
            project a on a.project_no = m.project_no
        join
            patient p on p.patient_no = a.patient_no
        join
            create_project c on c.project_no = a.project_no
        join
            employee e on e.pm_code = c.pm_code
        join
            injury i on i.injury_code = a.injury_code
        where
            e.pm_code = #{pmCode}
        and
            medi_status='Y'
        and
            a.project_status = 'Y'
    </select>

    <update id="softDelete" parameterType="HashMap">
        update
        <if test="role == 'doctor'">
                medi_info
            set
                medi_status ='N'
            where
                medi_code = #{code}
        </if>
        <if test="role == 'thera'">
                thera_info
            set
                thera_status = 'N'
            where
                thera_code = #{code}

        </if>
    </update>
    <update id="mediInfoUpdate" parameterType="hashmap">
        update
        <if test="role == 'doctor'">
            medi_info
        </if>
        <if test="role == 'thera'">
            thera_info
        </if>

        set
            project_no=#{projectNo},
        <if test="role == 'doctor'">
                medi_date = #{mediDate},
                time_code = #{timeCode}
            where
                medi_code = #{code}
        </if>
        <if test="role == 'thera'">
                thera_date = #{mediDate},
                start = #{start},
                end = #{end}
            where
                thera_code = #{code}
        </if>


    </update>

    <resultMap id="theraToPro" type="com.javaclass.psmc.mainPage.model.dto.TheraToProDTO">
        <id property="theraCode" column="thera_code"/>
        <result property="theraDate" column="thera_date"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
        <result property="day" column="day"/>
        <association property="connectProjectDTO" resultMap="connectProjectMap"/>
    </resultMap>

    <select id="todayThera" parameterType="hashmap" resultMap="theraToPro">
        select
            t.thera_code,
            t.thera_date,
            t.start,
            t.end,
            dayofweek(t.thera_date) as 'day',
            a.project_no,
            i.injury_name,
            e.pm_code,
            p.patient_name,
            p.age
        from
            thera_info t
        join
            project a on t.project_no = a.project_no
        join
            injury i on i.injury_code = a.injury_code
        join
            assign_project s on s.project_no = a.project_no
        join
            employee e on e.pm_code = s.pm_code
        join
            patient p on p.patient_no = a.patient_no
        where
            e.pm_code = #{pmCode}
        and
            t.thera_date between #{startDay} and #{endDay}
        and
            a.project_status = 'Y'
        and
            t.thera_status = 'Y'
        order by
            t.start

    </select>

    <select id="allThera" resultMap="theraToPro" parameterType="string">
        select
            t.thera_code,
            t.thera_date,
            t.start,
            t.end,
            dayofweek(t.thera_date) as 'day',
            a.project_no,
            i.injury_name,
            e.pm_code,
            p.patient_name,
            p.age
        from
            thera_info t
        join
            project a on t.project_no = a.project_no
        join
            injury i on i.injury_code = a.injury_code
        join
            assign_project s on s.project_no = a.project_no
        join
            employee e on e.pm_code = s.pm_code
        join
            patient p on p.patient_no = a.patient_no
        where
            e.pm_code = #{pmCode}
        and
            a.project_status='Y'
        and
            t.thera_status = 'Y'
        order by
            t.start
    </select>
    <resultMap id="mediInfoMap" type="com.javaclass.psmc.common.model.dto.MediInfoDTO">
        <id property="mediCode" column="medi_code"/>
        <result property="mediDate" column="medi_date"/>
        <result property="projectNo" column="project_no"/>
        <result property="timeCode" column="time_code"/>
        <result property="mediRegDate" column="medi_reg_date"/>
        <result property="mediStatus" column="medi_status"/>
    </resultMap>
    <resultMap id="theraInfoMap" type="com.javaclass.psmc.common.model.dto.TheraInfoDTO">
        <id property="theraCode" column="thera_code"/>
        <result property="theraDate" column="thera_date"/>
        <result property="projectNo" column="project_no"/>
        <result property="theraRegDate" column="thera_reg_date"/>
        <result property="theraStatus" column="thera_status"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
    </resultMap>


    <resultMap id="allMediMap" type="com.javaclass.psmc.mainPage.model.dto.AllMediDTO">
        <id property="mediCode" column="medi_code"/>
        <result property="projectNo" column="project_no"/>
        <collection property="mediInfoDTOS" resultMap="mediInfoMap"/>
    </resultMap>

    <select id="allMedi" resultMap="allMediMap" parameterType="hashmap">
        select
            a.project_no,
            m.time_code,
            m.medi_date
        from
            project a

        <if test="role == 'doctor'">
            join
                create_project c on c.project_no = a.project_no
            join
                employee e on e.pm_code = c.pm_code
        </if>
        <if test="role == 'thera'">
            join
                assign_project s on s.project_no = a.project_no
            join
                employee e on e.pm_code = s.pm_code
        </if>
        join medi_info m
        on
            m.project_no = a.project_no
        where
            e.pm_code = #{pmCode}

    </select>
    <resultMap id="allTheraMap" type="com.javaclass.psmc.mainPage.model.dto.AllTheraDTO">
        <id property="theraCode" column="thera_code"/>
        <result property="projectNo" column="project_no"/>
        <collection property="theraInfoDTOS" resultMap="theraInfoMap"/>
    </resultMap>
    <select id="allTheraInfo" resultMap="allTheraMap" parameterType="hashmap">
        select
            t.thera_code,
            a.project_no,
            t.start,
            t.end,
            t.thera_date
        from
            project a
        <if test="role == 'doctor'">
            join
                create_project c on c.project_no=a.project_no
            join
                employee e on e.pm_code = c.pm_code
        </if>
        <if test="role == 'thera'">
            join
                assign_project s on s.project_no = a.project_no
            join
                employee e on e.pm_code = s.pm_code
        </if>
        join
            thera_info t on t.project_no = a.project_no
        where
            e.pm_code = #{pmCode}
    </select>

    <select id="checkRes" resultMap="connectProjectMap" parameterType="hashmap">
        select
            a.project_no
        from
            project a
        join
            assign_project s on a.project_no = s.project_no
        join
            employee e on e.pm_code = s.pm_code
        join
            medi_info m on m.project_no = a.project_no
        join
            res_time r on r.time_code = m.time_code
        where
            m.medi_date = #{mediDate}
        and
            r.time_val between #{start} and #{end}
        and
            m.medi_status = 'Y'
    </select>
    <select id="tcheckRes" resultMap="connectProjectMap" parameterType="hashmap">
        select
            a.project_no
        from
            project a
        join
            assign_project s on s.project_no = a.project_no
        join
            employee e on e.pm_code = s.pm_code
        join
            thera_info t on t.project_no = a.project_no
        where
            t.thera_date = #{medi_date}
        and
            <![CDATA[
                t.start > #{start}
            or
                t.end < #{end}]]>
        and
            t.thera_status  = 'Y'


    </select>
    <resultMap id="resTimeMap" type="com.javaclass.psmc.common.model.dto.ResTimeDTO">
        <id property="timeCode" column="time_code"/>
        <result property="timeVal" column="time_val"/>
    </resultMap>

    <resultMap id="mainPageScheduleMap" type="com.javaclass.psmc.auth.model.dto.ProjectsDTO">
        <id property="mediCode" column="medi_code"/>
        <result property="projectNo" column="project_no"/>
        <result property="patientName" column="patient_name"/>
        <result property="injuryName" column="injury_name"/>
        <association property="resTimeDTOS" resultMap="resTimeMap"/>
    </resultMap>
    <select id="mediToday" resultMap="mainPageScheduleMap" parameterType="hashmap">
        select
            m.medi_code,
            t.time_val,
            p.patient_name,
            a.project_no,
            i.injury_name
        from
            project a
        join
            create_project c
        on
            c.project_no = a.project_no
        join
            medi_info m
        on
            m.project_no = a.project_no
        join
            res_time t
        on
            t.time_code = m.time_code
        join
            patient p
        on
            p.patient_no = a.patient_no
        join
            injury i
        on
            i.injury_code = a.injury_code
        where
            c.pm_code = #{pmCode}
        and
            m.medi_date = #{today}
        and
            a.project_status = 'Y'
        and
            m.medi_status = 'Y'
        order by
            t.time_val
    </select>

    <resultMap id="menuMap" type="com.javaclass.psmc.common.model.dto.MenuDTO">
        <id property="dayNo" column="day_no"/>
        <result property="menuName" column="menu_name"/>
    </resultMap>
    <resultMap id="todayMenuMap" type="com.javaclass.psmc.mainPage.model.dto.TodayMenuDTO">
        <association property="menuDTO" resultMap="menuMap"/>
    </resultMap>
    <select id="menu" resultMap="todayMenuMap" parameterType="int">
        select
            *
        from
            menu
        where
            day_no = #{day}
    </select>

    <select resultType="int" id="findDayNo" parameterType="string">
        select
            dayofweek(#{today})

    </select>
    <resultMap id="theraTodayMap" type="com.javaclass.psmc.auth.model.dto.TheraProjectDTO">
        <id property="theraCode" column="thera_code"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
        <result property="patientName" column="patient_name"/>
        <result property="projectNo" column="project_no"/>
        <result property="injuryName" column="injury_name"/>
        <result property="theraDate" column="thera_date"/>
    </resultMap>
    
    <select id="theraToday" resultMap="theraTodayMap" parameterType="hashmap">
        select
            t.thera_code,
            t.start,
            t.end,
            p.patient_name,
            a.project_no,
            i.injury_name,
            t.thera_date
        from
            project a
        join
            thera_info t
        on
            a.project_no = t.project_no
        join
            injury i
        on
            i.injury_code = a.injury_code
        join
            assign_project s
        on
            s.project_no = a.project_no
        join
            patient p
        on
            p.patient_no = a.patient_no
        where
            t.thera_date = #{today}
        and
            s.pm_code = #{pmCode}
        and
            t.thera_status='Y'
        and
            a.project_status='Y'
    </select>

    <resultMap id="mypatientMap" type="com.javaclass.psmc.auth.model.dto.MyPatientDTO">
        <id property="patientNo" column="patient_no"/>
        <result property="patientName" column="patient_name"/>
        <result property="phone" column="phone"/>
        <result property="projectNo" column="project_no"/>
        <result property="email" column="email"/>
        <result property="age" column="age"/>
        <result property="injuryName" column="injury_name"/>
    </resultMap>

    <select id="myPatient" resultMap="mypatientMap" parameterType="hashmap">
        select
            p.patient_name,
            p.patient_no,
            p.phone,
            p.email,
            p.age,
            a.project_no,
            i.injury_name
        from
            patient p
        join
            project a
        on
            a.patient_no = p.patient_no
        <if test="role == 'doctor'">
            join
                create_project c
            on
                c.project_no = a.project_no
        </if>
        <if test="role=='thera'">
            join
                assign_project c
            on
                c.project_no = a.project_no
        </if>
        join
            injury i
        on
            i.injury_code = a.injury_code

        <where>
            c.pm_code= #{pmCode}
        and
            a.project_status = 'Y'
            <if test="injuryCode !=null">
                and
                a.injury_code = #{injuryCode}
            </if>
            <if test="patientName !='' and patientName!=null">
                and
                p.patient_name = #{patientName}
            </if>
        </where>
        <if test="pageNo !=null">
            limit #{pageNo},5
        </if>

    </select>

    <insert id="makeMediInfo" parameterType="com.javaclass.psmc.common.model.dto.MediInfoDTO">
        insert into medi_info(medi_date,project_no,time_code,medi_reg_date,medi_status)
        values (#{mediDate},#{projectNo},#{timeCode},#{mediRegDate},'Y')
    </insert>

    <insert id="makeTheraInfo" parameterType="com.javaclass.psmc.common.model.dto.TheraInfoDTO">
        insert into thera_info(thera_date,project_no,thera_reg_date,thera_status,start,end)
        values (#{theraDate},#{projectNo},#{theraRegDate},'Y',#{start},#{end})
    </insert>
    <resultMap id="todayAllMediMap" type="com.javaclass.psmc.mainPage.model.dto.TodayAllMediDTO">
        <id property="mediCode" column="medi_code"/>
        <result property="timeCode" column="time_code"/>
    </resultMap>

    <select id="todayAllMedi" resultMap="todayAllMediMap" parameterType="hashmap">
        select
            m.medi_code,
            m.time_code
        from
            create_project c
        join
            project a
        on
            a.project_no = c.project_no
        join
            medi_info m
        on
            m.project_no = a.project_no
        where
            m.medi_date = #{date}
        and
            c.pm_code = #{pmCode}
        and
            m.medi_status='Y'
        and
            a.project_status='Y'
    </select>

    <resultMap id="TodayAllTheraMap" type="com.javaclass.psmc.mainPage.model.dto.TodayAllTheraDTO">
        <id property="theraCode" column="thera_code"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
    </resultMap>
    <select id="todayTheraByPRNo" resultMap="TodayAllTheraMap" parameterType="com.javaclass.psmc.mainPage.model.dto.TheraJSONDTO">
        select
            t.start,
            t.end,
            t.thera_code
        from
            create_project c
        join
            project a
        on
            c.project_no = a.project_no
        join
            thera_info t
        on
            t.project_no = a.project_no
        where
            t.thera_date = #{date}
        and
            c.pm_code = #{pmCode}
        and
            a.project_no = #{projectNo}
    </select>

    <select id="checkTheraByStartAndEnd" resultMap="TodayAllTheraMap" parameterType="hashmap">
        select
            t.start,
            t.end,
            t.thera_code
        from
            assign_project s
        join
            project a
        on
            s.project_no = a.project_no
        join
            thera_info t
        on
            a.project_no = t.project_no
        where
            s.pm_code =#{pmCode}
        and
            a.project_status = 'Y'
        and
            t.thera_status ='Y'
        and
            t.thera_date = #{date}
        and
            <![CDATA[
            t.start <= #{end}
            and
            t.end >= #{start}]]>

    </select>

    <select id="todayMediByPRNo" resultMap="todayAllMediMap" parameterType="hashmap">
        select
            m.time_code,
            m.medi_code
        from
            assign_project s
        join
            project a
        on
            a.project_no = s.project_no
        join
            medi_info m
        on
            m.project_no = a.project_no
        where
            s.pm_code = #{pmCode}
        and
            m.medi_date =#{date}
        and
            s.project_no = #{projectNo}
        and
            m.time_code in
        <foreach collection="code" item="coding" open="(" separator="," close=")">
            #{coding}
        </foreach>
    </select>

    <select id="checkTheraByTheraCode" resultMap="TodayAllTheraMap" parameterType="hashmap">
        select
            t.thera_code,
            t.start,
            t.end
        from
            assign_project s
        join
            project a
        on
            a.project_no = s.project_no
        join
            thera_info t
        on
            t.project_no = a.project_no
        where
            s.pm_code = #{pmCode}
        and
            project_status ='Y'
        and
            thera_status ='Y'
        and
            t.thera_date = #{date}
        and
            t.thera_code not in (#{theraCode})
        and
            <![CDATA[
            t.start < #{end}
            and
            t.end > #{start}]]>
    </select>

    <update id="theraInfoupdate" parameterType="hashmap">
        update
            thera_info
        set

    </update>


    <select id="findInjuryByFieldCode" resultMap="injuryMap" parameterType="int">
        select
            *
        from
            injury
        where
            field_code = #{fieldCode}
    </select>

    <select id="findEmployeeByInjuryCode" resultMap="employeeMap" parameterType="string">
        select
            e.pm_code,
            e.name
        from
            injury i
        join
            medical_field m
        on
            m.field_code = i.field_code
        join
            employee e
        on
            e.field_code = m.field_code
        where
            i.injury_code = #{injuryCode}
        and
            e.pm_code like 't%'
    </select>

    <insert id="insertPatientAndGetPatientNo" parameterType="com.javaclass.psmc.common.model.dto.PatientDTO" useGeneratedKeys="true" keyProperty="patientNo">
        insert into patient
        <if test="email!=null">
            (patient_name,age,gender,height,weight,phone,agree,email)
            values (#{patientName},#{age},#{gender},#{height},#{weight},#{phone},'Y',#{email})
        </if>
        <if test="email==null">
            (patient_name,age,gender,height,weight,phone,agree)
            values (#{patientName},#{age},#{gender},#{height},#{weight},#{phone},'Y')
        </if>

    </insert>
    <insert id="insertProjectGetProjectNo" parameterType="com.javaclass.psmc.common.model.dto.ProjectDTO" useGeneratedKeys="true" keyProperty="projectNo">
        insert into project(patient_no,project_date,project_status,injury_code)
        values (#{patientNo},#{projectDate},'Y',#{injuryCode})
    </insert>
    <insert id="createProject" parameterType="com.javaclass.psmc.common.model.dto.CreateProjectDTO">
        insert into create_project(project_no,pm_code)
        values(#{projectNo},#{pmCode})
    </insert>

    <insert id="assignProject" parameterType="com.javaclass.psmc.common.model.dto.AssignProjectDTO">
        insert into assign_project(project_no,pm_code)
        values (#{projectNo},#{pmCode})
    </insert>
    <resultMap id="theraChatMap" type="com.javaclass.psmc.common.model.dto.TheraChatDTO">
        <id property="theraChatNo" column="thera_chat_no"/>
    </resultMap>
    <resultMap id="theralinkPhotoMap" type="com.javaclass.psmc.theraLink.model.dto.TheraLinkPhotoDTO">
        <id property="theralinkPhotoNo" column="theralink_photo_no"/>
        <result property="theralinkOriginName" column="theralink_origin_name"/>
        <result property="theralinkSavedName" column="theralink_saved_name"/>
        <result property="theralinkFilepath" column="theralink_filepath"/>
        <result property="theralinkNo" column="theraLink_no"/>
        <result property="theralinkPhotoStatus" column="theralink_photo_status"/>

    </resultMap>

    <resultMap id="theraLinkMapWithMonth" type="com.javaclass.psmc.theraLink.model.dto.TheraLinkWithMonthDTO">
        <id property="theraLinkNo" column="theraLink_no"/>
        <result property="projectNo" column="project_no"/>
        <result property="theraTitle" column="thera_title"/>
        <result property="theraContents" column="thera_contents"/>
        <result property="theraStatus" column="thera_status"/>
        <result property="theraBoardDate" column="thera_board_date"/>
        <result property="month" column="month"/>
        <result property="comment" column="comment"/>
        <collection property="theraChatDTOS" resultMap="theraChatMap"/>
        <collection property="theraLinkPhotoDTOS" resultMap="theralinkPhotoMap"/>
    </resultMap>

    <select id="findAllTheraLinkByProjectNo" resultMap="theraLinkMapWithMonth" parameterType="hashmap">
        select
            a.*,
            left(date_format(a.thera_board_date,'%M'),3) as month,
            b.thera_chat_no,
            c.*
        from
            thera_link a
        left join
            thera_chat b
        on
            a.theraLink_no = b.theraLink_no
        left join
            theralink_photo c
        on
            c.theraLink_no = a.theraLink_no
        where
            a.project_no =#{projectNo}
        and
            a.thera_status ='Y'
        order by
            thera_board_date desc
        ,
            c.theralink_photo_no
        <if test="pageNo !=null">
            limit #{pageNo},4
        </if>

    </select>

    <update id="deleteTheraLink" parameterType="hashmap">
        update
            thera_link
        set
            thera_status = 'N'
        where
            theraLink_no in
        <foreach collection="thera" item="thera" open="(" separator="," close=")">
            #{thera}
        </foreach>

    </update>


    <resultMap id="theraChatForBlogMap" type="com.javaclass.psmc.theraLink.model.dto.TheraChatForBlogDTO">
        <id property="theraChatNo" column="thera_chat_no"/>
        <result property="theraLinkNo" column="theraLink_no"/>
        <result property="pmCode" column="pm_code"/>
        <result property="theraChatContent" column="thera_chat_content"/>
        <result property="theraChatBoardDate" column="thera_chat_board_date"/>
        <result property="theraChatStatus" column="thera_chat_status"/>
        <result property="name" column="name"/>
    </resultMap>
    <resultMap id="theraChatByTheraLink" type="com.javaclass.psmc.theraLink.model.dto.TheraLinkForChatDTO">
        <id property="theraLinkNo" column="theraLink_no"/>
        <result  property="theraTitle" column="thera_title"/>
        <result property="theraContents" column="thera_contents"/>
        <collection property="theraChatForBlogDTOS" resultMap="theraChatForBlogMap"/>
        <collection property="theraLinkPhotoDTOS" resultMap="theralinkPhotoMap"/>
    </resultMap>
    <select id="getTheraChatByTheraNo" resultMap="theraChatByTheraLink" parameterType="string">
        select
            DISTINCT l.theraLink_no,
            c.*,
            l.thera_title,
            l.thera_contents,
            l.theraLink_no,
            e.name,
            d.*
        from
            thera_link l
        left outer join
            thera_chat c
        on
            l.theraLink_no = c.theraLink_no
        left outer join
            employee e
        on
            e.pm_code = c.pm_code
        left outer join
            theralink_photo d
        on
            d.theraLink_no = l.theraLink_no
        where
            l.theraLink_no = #{theraNum}
        order by
            c.thera_chat_board_date


    </select>

    <insert id="makeTheraChat" parameterType="com.javaclass.psmc.theraLink.model.dto.MessageDTO">
        insert thera_chat(theraLink_no,pm_code,thera_chat_content,thera_chat_board_date,thera_chat_status)
        values(#{theraNum},#{pmCode},#{theraChatContent},#{theraChatDate},'Y')
    </insert>


    <delete id="deleteChat" parameterType="com.javaclass.psmc.theraLink.model.dto.ChatDeleteDTO">
        delete from
            thera_chat
        where
            thera_chat_no in
        <foreach collection="deleteNum" item="theraNum" open="(" separator="," close=")">
            #{theraNum}
        </foreach>
    </delete>

    <insert id="makeTheraLink" parameterType="com.javaclass.psmc.common.model.dto.TheraLinkDTO" useGeneratedKeys="true" keyProperty="theraLinkNo">
        insert thera_link(project_no,thera_title,thera_contents,thera_status,thera_board_date)
        values(#{projectNo},#{theraTitle},#{theraContents},'Y',#{theraBoardDate})
    </insert>

    <insert id="insertTheraLinkPhoto" parameterType="com.javaclass.psmc.theraLink.model.dto.TheraLinkPhotoDTO">
        insert theralink_photo(theralink_origin_name,theralink_saved_name,theralink_filepath,theralink_no,theralink_photo_status)
        values(#{theralinkOriginName},#{theralinkSavedName},#{theralinkFilepath},#{theralinkNo},'Y')
    </insert>


    <resultMap id="blogMap" type="com.javaclass.psmc.theraLink.model.dto.BlogDTO">
        <id property="theraLinkNo" column="theraLink_no"/>
        <result property="projectNo" column="project_no"/>
        <result property="theraTitle" column="thera_title"/>
        <result property="theraContents" column="thera_contents"/>
        <result property="theraStatus" column="thera_status"/>
        <result property="theraBoardDate" column="thera_board_date"/>
        <result property="savedName" column="theralink_saved_name"/>
        <result property="comment" column="comment"/>
    </resultMap>
    <select id="findAllBlogByProjectNo" resultMap="blogMap" parameterType="hashmap">
        select
            a.*,
            b.*,
            c.comment
        from
            thera_link a
        left join
            (select
                theraLink_no,
                min(theralink_saved_name) as theralink_saved_name
            from
                theralink_photo
            group by
                theraLink_no
            ) as b
        on
            a.theraLink_no = b.theraLink_no
        left join
        (select
        a.theraLink_no,

        LPAD(count(b.thera_chat_no),2,'0') as comment
        from
        thera_link a
        left join
        thera_chat b
        on
        a.theraLink_no = b.theraLink_no
        where
        a.project_no =1
        and
        a.thera_status ='Y'

        group by
        a.theraLink_no) as c
        on c.theraLink_no = a.theraLink_no
        where
            a.project_no = #{projectNo}
        and
            a.thera_status ='Y'
        order by
        a.theraLink_no desc
        <if test="pageNo!=null">
            limit #{pageNo},4
        </if>


    </select>

    <update id="updatePassword" parameterType="com.javaclass.psmc.user.model.dto.LoginUserDTO">
        update
            member_regist
        set
            password = #{password}
        where
            pm_code = #{pmCode}
    </update>
</mapper>