<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/assets/css/change.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color: rgb(215, 214, 214);">
<th:block th:insert="~{/common/nav}"></th:block>
<th:block th:insert="~{/common/header}"></th:block>
<div class="container5">
    <div class="box1-5">
        <div>Password Change</div>
    </div>
    <div class="box2-5">
            <div class="row">
                <!-- 왼쪽 박스 -->
                <div class="col-md-6">
                    <div class="mb-3 px-2">
                        <br>
                        <label for="userId">아이디</label>
                        <input type="text" class="form-control" id="userId" placeholder="아이디를 입력하세요">
                    </div>
                    <div class="mb-3 px-2">
                        <label for="currentPassword">현재 비밀번호</label>
                        <input type="password" class="form-control" id="currentPassword" placeholder="현재 비밀번호를 입력하세요.">
                    </div>
                    <div class="mb-3 px-2">
                        <label for="newPassword">새로운 비밀번호</label>
                        <input type="password" class="form-control" id="newPassword" placeholder="새로운 비밀번호를 입력하세요.">
                    </div>
                    <div class="mb-3 px-2">
                        <label for="confirmPassword">비밀번호 재확인</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="비밀번호를 재입력하세요.">
                    </div>
                    <div class="d-flex justify-content-end px-4">
                        <button type="button" class="btn btn-secondary mr-2">취소</button>
                        <button type="button" class="btn btn-primary">변경</button>
                    </div>
            </div>
                <!-- 오른쪽 박스 -->
                <div class="col-md-6">
                    <div class="border-left pl-3">
                        <div class="divider"></div>
                        <p><br>- 비밀번호는 한글을 제외한 영문 대소문자, 숫자, 특수문자를 포함하여 설정 가능합니다.<br><br><hr>
                            <br>- 주민등록번호, 생일, 기념일, 전화번호, 아이디와 동일한 비밀번호 등 개인정보와 <br> 관련되거나 또는 연속, 반복 되는 숫자등의 타인이 알아내기 쉬운 비밀번호는 <br> 삼가하시기 바랍니다.<br> <br>
                        - 또한 주기적으로 변경하는 것이 보안상 좋습니다.</p><br>
                        - 다른 온라인 계정마다 다른 비밀번호를 사용하여 고유성을 유지하는 것도 중요합니다. <br><br>
                        - 보안을 소홀히 하지 않고 항상 신중하게 관리하는 것이 중요합니다.<br>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="/assets/js/change.js"></script>
</body>
</html>