<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>my page</title>
  <link rel="stylesheet" href="/assets/css/mypage.css">
</head>
<script>
  const message = `[[${message}]]`;
  if(message){
    alert(message);
  }
</script>
<body>
<th:block th:insert="~{common/nav}"></th:block>
<th:block th:insert="~{common/header}"></th:block>
<div class="container1">
  <div class="box1-1" style="display: flex">
    <div >My Page</div>
  </div>
  <div class="box2-1">
    <div class="profile2"  id="profileImage">
      <form action="/updateProfileImage" enctype="multipart/form-data" method="post">
        <input type="file" accept="image/*" style="display: none" id="inputImages">
      </form>
      <div id="imagePreview">
        <th:block th:if="${profile.employeePhotoDTO.employeeSavedName==null}">
          <img src="/common/img/employeeProfile.png"></i>
        </th:block>
        <th:block th:if="${profile.employeePhotoDTO.employeeSavedName!=null}">
          <img th:src="${profile.getEmployeePhotoDTO().getEmployeeFilepath()}" class="circle-image">
        </th:block>

      </div>
    </div>
    <br><br>
    <div class="profile2-1">
      <h1>안녕하세요</h1>
      <h3 th:text="${profile.name}"></h3>
    </div>

  </div>
  <div class="box3-1">
    <div class="info-column">
      <div class="info-row">
        <span class="label">Name :</span>
        <span class="info" th:text="${profile.name}"></span>
      </div>
      <div class="info-row">
        <span class="label">Medical Code :</span>
        <span class="info" th:text="${profile.pmCode}"></span>
      </div>
      <div class="info-row">
        <span class="label">Position :</span>
        <span class="info" th:text="${profile.positionDTO.positionName}"></span>
      </div>
    </div>
    <div class="info-column">
      <div class="info-row">
        <span class="label">Phone Number :</span>
        <span class="info" th:text="${profile.phone}"></span>
      </div>
      <div class="info-row">
        <span class="label">Company Email :</span>
        <span class="info" th:text="${profile.email}"></span>
      </div>
      <div class="info-row">
        <span class="label">Field name :</span>
        <span class="info" th:text="${profile.medicalFieldDTO.fieldName}"></span>
      </div>
    </div>
  </div>
  <div class="box4-1">
    <div class="box5-1-1">
      <h2>회원 정보 수정</h2>
      <h4>회원 정보를 수정 할 수 있습니다.</h4>
    </div>
    <div class="button-icon">
      <button><a href="/editPage">바로가기</a></button>
      <div class="icon2"><img src="/common/img/edit.png"></div>
    </div>
  </div>

  <div class="box5-1">
    <div class="box5-1-1">
      <h2>비밀번호 변경</h2>
      <h4>계정 보안 설정을 할 수 있습니다.</h4>
    </div>

    <div class="button-icon">
      <button><a href="/change">바로가기</a></button>
      <div class="icon4"><img src="/common/img/change.png" alt="비밀번호변경"></div>
    </div>
  </div>
</div>

  <script src="/assets/js/mypage.js"></script>
</body>
</html>