<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>my page</title>
  <link rel="stylesheet" href="/assets/css/mypage.css">
</head>
<body>
<th:block th:insert="~{/common/nav}"></th:block>
<th:block th:insert="~{/common/header}"></th:block>
<div class="container1">
  <div class="box1-1">
    <div>My Page</div>
  </div>
  <div class="box2-1">
    <div class="profile2">
      <img src="/common/img/프로필.png"></i>
    </div>
    <br><br>
    <div class="profile2-1">
      <h1>안녕하세요</h1>
      <h3>김땡땡님</h3>
    </div>

  </div>
  <div class="box3-1">
    <div class="info-column">
      <div class="info-row">
        <span class="label">Name :</span>
        <span class="info">김땡땡</span>
      </div>
      <div class="info-row">
        <span class="label">Medical Code :</span>
        <span class="info">D123456</span>
      </div>
      <div class="info-row">
        <span class="label">Position :</span>
        <span class="info">의사</span>
      </div>
    </div>
    <div class="info-column">
      <div class="info-row">
        <span class="label">Phone Number :</span>
        <span class="info">010-1234-5678</span>
      </div>
      <div class="info-row">
        <span class="label">Company Email :</span>
        <span class="info">john.doe@example.com</span>
      </div>
    </div>
  </div>
  <div class="box4-1">
    <div class="box5-1-1">
      <h2>회원 정보 수정</h2>
      <h4>회원 정보를 수정 할 수 있습니다.</h4>
    </div>
    <div class="button-icon">
      <button><a href="/editPage">바로가기</a></button>
      <div class="icon2"><img src="/common/img/edit.png"></div>
    </div>
  </div>

  <div class="box5-1">
    <div class="box5-1-1">
      <h2>비밀번호 변경</h2>
      <h4>계정 보안 설정을 할 수 있습니다.</h4>
    </div>

    <div class="button-icon">
      <button><a href="/change">바로가기</a></button>
      <div class="icon4"><img src="/common/img/change.png" alt="비밀번호변경"></div>
    </div>
  </div>
</div>
</body>
</html>