<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="./Edit Information.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<script src="https://kit.fontawesome.com/56b2fd8c85.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<body>
        <div id="mainbar">
            <!-- 메인 바 내용 -->
            <div id="mainNav">
        
                <br><br>
                <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-house-user fa-3x" >&nbsp;&nbsp;<a href="#" class="title hidden">Mainpage</a></i></div> -->
                <div class="pack"><a href="#" style="font-size: 10px;"><i class="fa-solid fa-house-user fa-3x">&nbsp;&nbsp;</i>
                    <span>MAINPAGE</span></a></div>
                <br><br>
                <!-- <div id="pack" style="font-size: 10px;"><i class="fa-regular fa-calendar-days fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">  Schedule</a></i></div> -->
                <div class="pack"><a href="#" style="font-size: 10px;"><i class="fa-regular fa-calendar-days fa-3x" >&nbsp;&nbsp;</i>
                    <span>SCHEDULER</span></a></div>
                <br><br>
                <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-notes-medical fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">MediConnect</a></i></div> -->
                <div class="pack"><a href="#" style="font-size: 10px;"><i class="fa-solid fa-notes-medical fa-3x" >&nbsp;&nbsp;</i>
                    <span>MEDICONNECT</span></a></div>
                <br><br>
                <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-hospital-user fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">TheraLink</a></i></div> -->
                <div class="pack"><a href="#" style="font-size: 10px;"><i class="fa-solid fa-hospital-user fa-3x" >&nbsp;&nbsp;</i>
                    <span>THERALINK</span></a></div>
                <br><br>
                <!-- <div id="pack" style="font-size: 10px;"><i class="fa-solid fa-hand-holding-medical fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">Therapy Log</a></i></div> -->
                <!-- <div id="pack"><a href="#" style="font-size: 10px;"><i class="fa-solid fa-hand-holding-medical fa-3x" >&nbsp;&nbsp;<p class="title hidden">Therapy Log</p></i></a></div> -->
                <div class="pack"><a href="#" style="font-size: 10px;"><i class="fa-solid fa-user-group fa-3x" >&nbsp;&nbsp;</i>
                    <span>STAFF</span></a></div>
                <br><br>
        
                <div id="subNav" >
                    <!-- <div style="font-size: 10px;"><i class="fa-solid fa-right-from-bracket fa-3x">&nbsp;&nbsp;<a href="#" class="title hidden">Log Out</a></i></div> -->
        
                    <div class="pack"><a href="#" style="font-size: 10px;"><i class="fa-solid fa-right-from-bracket fa-3x" >&nbsp;&nbsp;</i>
                        <span>LOG OUT</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainPage">
            <div class="main-title">
                <div class="contents">
                    <img src="/common/img/nobackLogo.png" alt="PSMC Logo" class="logo">
                    &nbsp&nbsp
                    <span class="psmc">Pro Sports Medical Center</span>
                    <a class="docIcon" href="#" ><i class="fa-solid fa-user-doctor"></i></a>
                </div>
                <div class="line"></div>
            </div>
        </div>
    <div class="container4">
        <div class="box1-4">
            <div>회원 정보 수정</div>
        </div>
            <div class="box2-4">
                <br><br>
                <input type="hidden" class="form-control" th:field="*{id}" th:readonly="readonly" >
                <input type="hidden" class="form-control" th:field="*{role}" th:readonly="readonly" >
    
                <div class="mb-3">
                    <label th:for="name">이름</label>
                    <input type="text" class="form-control" th:field="*{name}" oninput="nicknameModify()">
                    <span class="name_ok">사용 가능한 이름입니다.</span>
                    <span class="name_already">누군가 이름을 사용하고 있습니다.</span>
                </div>
    
                <label class="mb-3 form-label" for="birth">생년월일</label>
                <div class="mb-3" id="birth" onchange="checkAgeModify()">
                    <div class="row g-2">
                        <div class="col">
                            <select class="form-control" id="year" name="year">
                                <option th:value="*{year}" th:text="*{year}" selected></option>
                                <option value="">년(YY)</option>
                                <th:block th:each="a: ${#numbers.sequence(2001,1900)}">
                                    <option th:value="${a}" th:text="${a}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="month" name="month">
                                <option th:value="*{month}" th:text="*{month}" selected></option>
                                <option value="">월(mm)</option>
                                <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1,12),2)}">
                                    <option class="dropdown-item" th:value="${month}" th:text="${month}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="day" name="day">
                                <option th:value="*{day}" th:text="*{day}" selected></option>
                                <option value="">일(dd)</option>
                                <th:block th:each="day: ${#numbers.listFormatInteger(#numbers.sequence(1,31),2)}">
                                    <option class="dropdown-item" th:value="${day}" th:text="${day}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <span id="birth_check_msg"></span>
                </div>
    
                <div class="mb-3">
                    <label th:for="gender">성별</label>
                    <input type="text" class="form-control" id="gender" name="gender" th:value="*{gender.value}" hidden >
                    <input type="text" class="form-control" th:value="*{gender.title}" readonly>
                </div>
                <div class="mb-3">
                    <label th:for="medical_code">사원 코드</label>
                    <input type="text" class="form-control" th:field="*{medical_code}" th:readonly="readonly" >
                </div>
    
                <div class="mb-3">
                    <label th:for="position_name">포지션</label>
                    <input type="text" class="form-control" th:field="*{position_name}" th:readonly="readonly" >
                </div>
    
                <div class="mb-3">
                    <label th:for="phone_number">폰 번호</label>
                    <input type="text" class="form-control" th:field="*{phone_number}" >
                </div>
    
                <div class="mb-3">
                    <label th:for="company_email">회사 이메일</label>
                    <input type="email" class="form-control" th:field="*{company_email}" >
                </div>
    
    
                <div class="mb-3">
                    <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return modifyCheckAll()">수정</button>
                </div>
    
                <div class="mb-3">
                    <a type="button" style="color:white" class="w-100 btn btn-lg btn-secondary" onclick="window.history.back();">취소</a>
                </div>
    
            </form>
            <footer th:replace="fragments/common :: footer"></footer>
            </div>
        </div>
        
</body>
</html>
